i.addAfterButton {
    color: #ccc; 
    vertical-align: middle;
}

i.addAfterButton:hover {
    color: green;
    cursor: pointer;
}
i.removeButton {
    color: #ccc;
    vertical-align: middle;
}
i.removeButton:hover {
    color: red;
    cursor: pointer;
}

#pipeline {
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    width:100%;
}

button.pipelineFunct {
    margin-left:auto; margin-right: 10px;
    color: #fff; 
    background-color: grey; 
    width: 100%; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 5px 10px 6px; 
    cursor: default; 
    display: block;
    font-size: 1em;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

i.pipeNext {
    color: grey;
    cursor: pointer;
}

i#pipelineAddAtEnd {
    color: #ccc;
    cursor: pointer;
    display: block;
}

i#pipelineAddAtEnd:hover {
    color: grey;
    cursor: pointer;
    display:block;
}
select {
    width: 200px;
}

textarea{
    width: 20%;
}

.CodeMirror {
    background: #f8f8f8; 
    border: 1px solid #eee;
    height: auto;
}

#rdf-mapping-table tr td{
    border: 1px solid black;
}

.graph-name-td {
}


.add-first-graph-button:hover{
    color: grey;
    cursor: pointer;
}

.form-label {
    display: block;
}

.form-label-sameline {
    display: block;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.rdf-graph-name-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 60%;
}

.rdf-graph-table{
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    /*    border: solid 1px;*/
    border-collapse: separate;
    border-spacing: 5px;
    width: 98%;
}
.add-first-graph-button {
    color: #ccc;
    cursor: pointer;
    margin-top: 110;
    margin-bottom: auto;
    margin-left: 45%;
    margin-right: auto;
}

.rdf-graph-add-after-button {
    margin-left: 5px;
    color: #ccc; 
    vertical-align: middle; 
}

.rdf-graph-add-after-button:hover{
    color: green;
    cursor: pointer;
}

.rdf-graph-remove-button{
    margin-left: 3px;
    color: #ccc;
    vertical-align: middle;
}

.rdf-graph-remove-button:hover{
    color: red;
    cursor: pointer;
}

.rdf-graph-add-first-node {
    margin-left: 5px;
    color: #ccc;
    cursor: pointer;
}

.rdf-graph-add-first-node:hover {
    color: grey;
    cursor: pointer;
}
.rdf-graph-mapping-cell {
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.rdf-graph-mapping-tr {
    margin-top: 5px;
}
.radio-button-label {
    cursor: pointer;
    display: inline-block;
}
.define-graph-node-left {
    vertical-align: top;
}
.define-graph-node-right {
    padding-left: 10px;
    border-left: 1px solid #eee;
    vertical-align: top;
}

.define-graph-node-layout-table{
    border-collapse: separate;
}
#form-uri-node .ui-selectmenu-text, .dialog-define-graph-node .ui-menu-item, #form-literal-node .ui-selectmenu-text {
    font-size: 0.8em;
    padding-left: 5px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    padding-top: 0.4em;
}

.custom-combobox-input {
    width: 166px;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;   
    overflow-x: hidden; 
    z-index: 1000 !important;
}
.element-div {
    cursor: pointer;
    display: inline-block;
}

.node-name-label {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
}

.rdf-node-add-after-button {
    margin-left: 5px;
    color: #ccc;
    display: inline-block;
}

.rdf-node-add-after-button:hover {
    color: green;
    cursor: pointer;
}

.rdf-node-remove-button {
    margin-left: 2px;
    color: #ccc;
    display: inline-block;
}

.rdf-node-remove-button:hover {
    color: red;
    cursor: pointer;
}

.icon-fold-unfold-subnodes {
    margin-left: 5px;
    cursor: pointer;
}

td.rdf-graph-element-representation, td.rdf-graph-element-sub-elements {
    vertical-align: top;
    text-align: left;
}
td.rdf-graph-element-sub-elements {
    border-left: 1px solid black;
}
.add-first-element-div{
    margin-left: 7px;
    color: #ccc; 
}
.add-first-element-div > label {
    cursor: pointer;
    margin-left: 3px;
    font-size: 0.8em;
}

.add-first-element-div:hover{
    color: grey;
    cursor: pointer !important;   
}

.add-first-property-div{
    margin-left: 7px;
    color: #ccc; 
}
.add-first-property-div > label {
    cursor: pointer;
    margin-left: 3px;
    font-size: 0.8em;
}

.add-first-property-div:hover{
    color: grey;
    cursor: pointer !important;   
}

table.rdf-element-table {
    border-collapse: separate;
    border-spacing: 5px;
}
/*
div.rdf-control-container > table {
    display: inline-block;
}
*/
div.rdf-control-container > table td {
    white-space: nowrap;
}