// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

@import "theme-codemirror.scss";
@import "fonts.scss";

$light-gray: #fafafa;
$gray: rgb(178,178,178);

[flex] {
  min-height: 0;
  min-width: 0;
}


.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
.hamburger {
  font-size:24px;
  width: 38px;
  min-width: initial;
  padding:4px 0px;
  margin:0;
  margin-left: 0!important;
}
md-toolbar h1 {
  font-size: 1.250em;
  //font-weight: 400;
  //margin: auto;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

md-toolbar i.fa {
  padding-left:8px;
  padding-right:8px;
}

.sin-fa-button {
  flex-shrink: 0;
  font-size:28px;
  i {line-height:56px;margin-left:1px;}
}

.upload-view .md-button:not(.md-fab) {
  min-width: 10em;
}
.upload-view section .md-button {
  display: block;
  margin: 1em;
  line-height: 25px;
}

md-sidenav .md-button.md-default-theme {
  border-radius:0;
}

.md-button {
  text-transform: none;
}


.sin-grid-margin {
  margin-left:30px;
  margin-right:30px;
}

.fill-height {
  display: flex;
  align-items: center;
}

.md-toolbar-tools {
  padding: 0px 16px;
  .md-breadcrumb {
    font-size:22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
      display: inline;
    }
  }
}

md-sidenav .md-button {
  line-height: 2em;
  text-align: left;
  i {
    margin-left:0.5em;
    margin-right:0.5em;
  }
}

#loading-bar .bar {
  background: rgb(255,64,129);
  &.peg {
    box-shadow: rgb(255,64,129) 1px 0 6px 15px;
  }
}
md-input-container {
  md-select {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    background: none;
    border-width: 0 0 1px 0;
    line-height: 26px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    //margin: 0;
    padding-top: 15px;

    md-select-label{
      color: black;
    }
  }
  md-select-label {
    padding-top: 4px;
    font-size: 0.75em;
    color: rgba(0,0,0,0.54);
  }
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  //background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/";
  // content: "a";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #303F9F;
  color: white;
}

.files-list, .dapaas-list {
  md-list-item .md-button.md-default-theme {
    border-radius:0;
    // margin:0;
    // padding:0;

    .fa {
      font-size: 19px;
      text-align: center;
      line-height: 40px;
      background:$gray;
      color:white;

      &.fa-filter {
        font-size:26px;
      }
    }

    .md-list-item-text h3 {
      word-break: break-word;
      //TODO
      line-height: 1em;
    }
  }
}

.actions-view {
  .fa {
    font-size: 28px;
    line-height: 47px;
  }
  .md-toolbar-tools .md-button {
    margin-left:0;
    margin-right:0;
  }
  md-switch {
    margin: 12px;
    .fa {
      line-height: 24px;
      padding: 0 0 0 6px;
    }
  }
}

md-sidenav .dapaas-title.md-button {
  text-align: center;
}

md-sidenav {
  width:204px;
  min-width:204px;
  max-width:204px;

  &.md-locked-open {
    width:204px;
    min-width:204px;
    max-width:204px;
  }
}

.error-infos.md-warm {
  padding:20px;
  font-family: $sin-monospace-font;
  background:#F44336;
  color:white;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 19px;
  right: 10px;
  top: 10px;
}

.graftwerk-exception {
  .ui-grid-render-container {
    opacity: 0.5;
  }
}
.ui-grid {
  border:none;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.no-border-radius {
  border-radius:0;
}

/*md-fab-trigger .fa {
z-index: 22;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
line-height: 56px;
font-size: 20px;
}*/
/*md-tab-content {
padding:8px;
}*/

// TODO
md-switch {
  flex-wrap: wrap;
}

md-fab-toolbar .md-fab-toolbar-wrapper {
  height:70px;
}

.fa-large {
  vertical-align: middle;
  font-size:1.8em;
}

md-tab-content .CodeMirror {
  height:auto;
}

table { 
    border: 2px solid black;
    border-collapse: collapse; 
}

td { 
    border: 1px solid black; 
}
.numberinput {
    max-width: 50px;
}
.pipeline-flow {
  position:relative;
  padding:24px 0;

  .pipeline-flow-line {
    $color: #bababa;
    width:6px;
    top:5px;
    bottom:5px;
    left:50%;
    // margin-left:-37px;
    margin-left:-21px;
    background:$color;
    position:absolute;

    &:before, &:after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 50%;
      width: 10px;
      margin-left: -9px;
      text-align: center;
      background-color: white;
      border: 4px solid $color;
      border-radius: 50%;
      height: 10px;
    }
    &:before {
      top: -5px;
    }
    &:after {
      bottom: -5px;
      background-color:$color;
    }

    &.pipeline-flow-line-readonly {
      margin-left:9px;
    }

    &.pipeline-flow-line-preview {
      margin-left:-35px;
    }
  }

  /*pipeline-function {
    .pipeline-button {
    }
  }*/

}

.pipeline-button {
  min-width: 11em;
  margin-left: 40px;
  // transition: min-width 0.66s ease;
}

.upload-indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12em;
  z-index: 5;
  background-color:rgba(255,255,255,0.5);
}

.show-upload-indicator .upload-indicator {
  display: flex;
  border-radius:0;
}

.md-toolbar-tools .md-button {
  margin:0;
}

pipeline-function {
  margin-right: 8px;
  position: relative;
}

.button-tight {
  min-width: 26px;
  padding: 0 4px;
  margin: 0;
}

.button-not-tight {
  margin-left: 32px;
}
.mappingBtn { 
  min-width: 28px;
  padding: 0;
  margin: 0px 4px;
}
// Playing with shadows
md-toolbar.md-whiteframe-z1 {
  z-index: 3;
}

md-tabs.md-whiteframe-z5 {
  z-index: 2;
}

.vAccordion--default v-pane-header {
  border-bottom:none;
  margin-bottom:0;

  .md-button {
    width:100%;
  }

  & > div {
    padding:0 15px 0 0;
    flex-grow: 1;
  }
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
  right:17px;
  // background-color:white;
  background-color:black;
  z-index: 1;
}

.vAccordion--default v-pane-content > div {
  padding-bottom:0;
}

v-pane-content {

  md-radio-button, .empty-distribution {
    margin:0;
    padding:8px 40px;
    word-break: break-word;
  }

  md-progress-circular {
    margin:auto;
  }

  .empty-distribution {
    text-align: center;
  }
}

md-tab-content {
  clojure-pipeline, preview-raw, preview-table {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  clojure-pipeline {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 300px;

    .warningMsg {
      color: purple;
      padding: 15px;
      line-height: 30px;
    }
  }
  preview-raw {
    left:8px; 
  }
}

.sin-no-shrink{
  flex-shrink: 0;
}

.sin-grid {
  &:not(.no-min-height) {
    min-height:20em;
  }
  vertical-align: middle;

  .ui-grid-top-panel {
    // background: #3f51b5;
    background:white;

    .ui-grid-header-cell {
      color: grey;
      font-weight: normal;
      // border-color: #303f9f;
      border-color: white;

    }
  }
  .ui-grid-cell {
    border-color: transparent;
    // border-color: #eee;
  }
  .ui-grid-cell-contents {
    line-height:28px;
    padding:5px 5px 5px 10px;
  }
  .ui-grid-header {
    border-color: #eee;
  }
  .ui-grid-column-menu-button {
    top: 6px;
  }
  .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: white;
  }
  .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f5f5f5;
  }
  .ui-grid-row:hover .ui-grid-cell {
    background-color: #eee;
  }

  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child,
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-right-color: #DBDBDB;
  }
  .ui-grid-selection-row-header-buttons {
    margin: 0 -5px 0 -5px;
  }
  .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow:auto;
  }
  .ui-grid-menu-button {
    border-color: transparent;
    border-bottom-left-radius: 50%;    
    background-color: white;
    // top: 1px;
    right: 0px;
    border-top:none;
    border-bottom:none;
  }
  .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid transparent;
  }
}

preview-table .sin-grid {
  position: absolute;
  left: 28px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  min-height: initial;
}

rdf-mapping [flex] {
  flex-shrink: 0;
}

preview-table .watermark {
  position: absolute;
  color: #cdcdcd;
  top: 50%;
  font-size: 7em;
  width: 100%;
  text-align: center;
  z-index: 1000;
  line-height: 3em;
  margin-top: -1.5em;
}

.sin-function-dialog {
  width:960px;
  min-width:50%;
}

@media (max-width: 1023px) {
  .sin-function-dialog {
    min-width:50%;
  }
}

.sin-function-dialog {
  md-dialog-content {
    min-height:200px;
  }
  md-dialog-content:not(.md-padding) {
    padding:0;
  }
}

// .sin-width-function-dialog {
//     min-width:75%;
// }

// TODO WORKAROUND
.ui-grid-menu-button {
  height: 30px;
  outline: 0;
  padding-top: 7px;
  padding-left: 6px;
}

.sin-mapping-tabs md-tab-content {
  min-height:300px;
}

md-tab-content:focus, preview-table {
  outline: 0;
}

graph-mapping div {
  flex-shrink: 0;
}

.background-stuff .CodeMirror {
  background:rgb(250, 250, 250);
  // height:100%;
}

.background-stuff, .background-stuff div {
  box-sizing: content-box;
}

.sin-button-padding {
  padding-left:2em;
  padding-right:2em;
}

.api-doc-usage {
  font-size: 12px;
  color: #2020AA;
}

.api-doc-docstring {
  font-size: 14px;
}
.doc-table {
  font-size: 12px;
}

.pipeline-description {
  color: #505050;
  position:absolute;
  left:20px;
  font-style:italic;
}

.text-transform-sample {
  color: #505050;
  position:absolute;
  left:500px;
  top:250px;
  font-size:16px;
  font-style:italic;
}

.sin-functions-list {
  // background-color: #0DBC37;
  background-color:#414040;
  color: white;
  text-align: left;
}

.sin-functions-list .md-button {
  text-align: left;
  font-family: $sin-monospace-font;
  border-radius: 0;
  // white-space: normal;
  // overflow: hidden;
  margin: 0;
  max-height: 40px;
  line-height: 40px;
  padding: 0 16px 0 16px; 

  &[disabled] {
    // background-color: #006400;
    background-color:#272822;
    color: white;
    cursor: default;
  }

  &.md-primary {
    max-height: 52px;
    line-height: 52px;
    text-align: center;
  }
}

.sin-function-dialog {
  functions-dialog-content > div,
  .content-stuff {
    height:500px;
    // max-height:90%;
  }
}

@media (max-height: 710px) {

  .sin-function-dialog {
    functions-dialog-content > div,
    .content-stuff {
      height:auto;
      // max-height:90%;
    }
  }
}
.sin-dapaas-background {
  // background: url(../images/background.png) no-repeat;
  // background-position: right 20px bottom 20px;

}

.code-mirror-container {
  position:relative;
  .CodeMirror {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:auto;
  }
}

.utility-functions .sin-functions-list {
  min-width:220px;

  & > .md-button[disabled] {
    padding-right:0;
    .md-button {
      float:right;
    }
  }
}

.utility-functions .sin-functions-list .sin-utility-function-sub-buttons {
    background-color: transparent;
}

.cm-s-monokai .CodeMirror-linenumber {
  color: #717171;
}

.button-in-pipeline {
  left:50%;
  margin-left:-40px;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.sin-dark-background-fix {
  background-color:rgb(39, 40, 34);
}

preview-table.with-bottom-switch {
  bottom: 84px;
}

.live-preview-switch {
  position: absolute;
  bottom: 26px;
  left: 26px;
}

mark {
  background-color: #BABAFD;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width:2px;
  border-color:#5555AA;
}

// Workaround until https://github.com/angular/material/pull/3693 is merged in angular-material
md-fab-speed-dial.md-fab-bottom-right {
  z-index:64;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute;
}

.sin-load-distribution-view {
  min-height:50vh;
}

.breadcrumb {
  padding-top: 5px;
}

.map-tabular-data-view {
  background:$light-gray;
}
button.rdf-mapping-node-button {
  text-align: left;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 23px;
  padding-left: 3px;

}

i.rdf-mapping-icon-background-inset{
  color: rgba(200,200,200, 0.8);
  text-shadow: 1px 4px 6px #FAFAFA, 0 0 0 #000, 1px 4px 6px #FAFAFA;
}

graph-mapping {
  .md-button[disabled], .md-button.md-raised[disabled] {
    color: rgba(0,0,0,0.87);
    i.rdf-mapping-icon-background-inset {
      text-shadow: 1px 3px 4px #E1E1E1, 0 0 #000, 1px 3px 4px #E1E1E1;
    }
  }
}

resize-hand {
    background: transparent;
    width: 7px;
    position:absolute;
    cursor: col-resize;
    z-index:10;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resize-hand-mask {
    cursor: col-resize;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:transparent;
    // background: rgba(0,255,0,0.15);
    z-index:1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rdf-mapping-prefix-text{
  color: rgb(200,200,200);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 167px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0px 0px;
}
.rdf-mapping-node-text{
  width: 167px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0px 2px 2px;
  border: 0px;
}

.rdf-mapping-column-name-text {
  font-style: italic;
}

.rdf-mapping-blank-node {
  text-align: left;
  line-height: 23px;
  padding-left: 3px;
}

button.rdf-mapping-property-button {
  text-align: left;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 23px;
  padding-left: 3px;

}

.processing-status {
  font-style:italic;
  font-size: small;
  text-align:center;
  color: $gray;
}

.slow-mode-warning, .slow-mode-thanks {
  // text-align: center;
  color: purple;
  // padding: 1em 2em 0.4em 2em;
}

.md-button.sin-fa-fab-big {
    height: 100px;
    width: 100px;
    line-height: 136px;
    padding-left: 12px;
}
.slow-mode-thanks {
  color: green;
}

.keywords-container {
  margin-bottom: 1em;
}

md-fab-speed-dial.md-down md-fab-actions.layout-row {
  flex-direction: row;
}

// Temporary workaround for https://github.com/angular/material/issues/2936
body {
  overflow-y: hidden;
}

div.previewed-pipeline-function-overlay {
  background-color: rgba(200,200,200,0.5);
//  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  left: 28px;
  top: -10px;
  width: 178px;
  height:45px;
}

.close-preview-button {
  position: absolute;
  top: 5px;
  left: 9px;
}

.close-preview-icon {
  color: rgb(160,160,160);
  position: relative;
  top: 4px;
}

.pipeline-action-icon {
  position: relative;
  bottom: 1px;
}

#mainview {
  min-height:0;
}

// Fix md-tab 0 min-width 
// Should be fixed with angular-material 0.12.0
md-tabs .md-tab {
  min-width: 150px !important;
}

md-toolbar md-input-container .md-input {
  color:white!important;

  &::-webkit-input-placeholder {
    color: rgba(255,255,255,0.87) !important;
  }

  &::-moz-placeholder {
    color: rgba(255,255,255,0.87) !important;
  }

  &:-ms-input-placeholder {
    color: rgba(255,255,255,0.87) !important;
  }
}

md-toolbar .md-button[type=submit] {
  top: 18px;
  font-size: 26px;
}

@media (max-width: 600px) {
  md-toolbar input[type=text] {
    max-width: 100px;
    font-size:16px;
  }

  md-switch .md-label {
    font-size:14px;
    margin:0;
    line-height:30px;
  }
}

.sin-function-sublist {
  background-color: #373A3E;

  .md-button {
    padding-left: 30px;
  }
}



