// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

$light-gray: #fafafa;
$gray: rgb(178,178,178);

.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
.hamburger {
  font-size:24px;
  width: 38px;
  min-width: initial;
  padding:4px 0px;
  margin:0;
  margin-left: 0!important;
}
md-toolbar h1 {
  font-size: 1.250em;
  //font-weight: 400;
  //margin: auto;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

md-toolbar i.fa {
  padding-left:8px;
  padding-right:8px;
}

.sin-fa-button {
  font-size:28px;
  i {line-height:56px;margin-left:1px;}
}

.upload-view .md-button:not(.md-fab) {
  min-width: 10em;
}
.upload-view section .md-button {
  display: block;
  margin: 1em;
  line-height: 25px;
}

md-sidenav .md-button.md-default-theme {
  border-radius:0;
}

.md-button {
  text-transform: none;
}

.sin-no-shrink{
  flex-shrink: 0;
}

.sin-grid {
  min-height:20em;

  .ui-grid-top-panel {
      background: #3f51b5;

    .ui-grid-header-cell {
      color: white;
      border-color: #303f9f;
    }
  }
}

.sin-grid-margin {
  margin-left:30px;
  margin-right:30px;
}

.fill-height {
  display: flex;
  align-items: center;
}

.md-toolbar-tools {
  padding: 0px 16px;
  .md-breadcrumb {
    font-size:22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
      display: inline;
    }
  }
}

md-sidenav .md-button {
  line-height: 2em;
  text-align: left;
  i {
    margin-left:0.5em;
    margin-right:0.5em;
  }
}

#loading-bar .bar {
  background: rgb(255,64,129);
  &.peg {
    box-shadow: rgb(255,64,129) 1px 0 6px 15px;
  }
}


.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  //background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/";
  // content: "a";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #303F9F;
  color: white;
}

.files-list, .dapaas-list {
  md-list-item .md-button.md-default-theme {
      border-radius:0;
      // margin:0;
      // padding:0;

      .fa {
        font-size: 19px;
        text-align: center;
        line-height: 40px;
        background:$gray;
        color:white;

        &.fa-filter {
          font-size:26px;
        }
      }

      .md-list-item-text h3 {
        word-break: break-word;
        //TODO
        line-height: 1em;
      }
  }
}

.actions-view {
  .fa {
    font-size: 28px;
    line-height: 47px;
  }
  .md-toolbar-tools .md-button {
    margin-left:0;
    margin-right:0;
  }
}

md-sidenav .dapaas-title.md-button {
  text-align: center;
}

md-sidenav {
  width:204px;
  min-width:204px;
  max-width:204px;

  &.md-locked-open {
    width:204px;
    min-width:204px;
    max-width:204px;
  }
}

.error-infos.md-warm {
  padding:20px;
  font-family: monospace;
  background:#F44336;
  color:white;
}

.graftwerk-exception {
  .ui-grid-render-container {
    opacity: 0.5;
  }
}
.ui-grid {
  border:none;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.no-border-radius {
  border-radius:0;
}

md-tab-content {
  padding:8px;
}

// TODO
md-switch {
  flex-wrap: wrap;
}

// TODO ng-file-upload#796
body > input[type=file] {
  top:0;
  left:0;
}