<!doctype html>
<html class="no-js" ng-app="grafterizerApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title + ' - Grafterizer'">Grafterizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="row" ng-controller="NavigationCtrl as nav">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left" tabindex="-1">
      <md-toolbar layout="row">
        <h1>Grafterizer</h1>
      </md-toolbar>
      <br>
      <md-content flex role="navigation" layout="column">
        <md-button class="md-button md-primary" ui-sref="datapages">
          <i class="fa fa-dashboard"></i> Data pages</md-button>
        <md-button class="md-button md-primary" ui-sref="transformations">
          <i class="fa fa-filter"></i> Transformations</md-button>
        <md-button class="md-button md-primary" ui-sref="files">
          <i class="fa fa-file"></i> Files
        </md-button>
      </md-content>
    </md-sidenav>

    <div flex role="main" tabindex="-1" layout="column">
      <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="nav.toggleSideMenu()" aria-label="Show User List">
          <i class="fa fa-bars"></i>
        </md-button>
        <div layout="row" flex class="fill-height">
          <div class="md-toolbar-item md-breadcrumb">
            <span ng-if="sectionTitle">
              <span hide-sm hide-md>{{sectionTitle}}</span>
              <span class="docs-menu-separator-icon" style="" hide-sm hide-md>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </span>
             </span>
           <span class="md-breadcrumb-page">{{title}}</span>
          </div>
 <span flex></span> <!-- use up the empty space -->
        </div>
       </md-toolbar>
        
      <div flex layout="column" ui-view></div>
    </div>




    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/upload.js"></script>
        <script src="scripts/controllers/grid.js"></script>
        <script src="scripts/services/fileupload.js"></script>
        <script src="scripts/services/fileparsing.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <script src="scripts/controllers/datapages.js"></script>
        <script src="scripts/services/datapagesresource.js"></script>
        <script src="scripts/services/loopback-services.js"></script>
        <script src="scripts/controllers/files.js"></script>
        <script src="scripts/controllers/file.js"></script>
        <!-- endbuild -->
</body>
</html>
