<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div class="api-doc-docstring" ng-show = "showUsage" layout="column">
            <p> Adds a new row to the dataset at the specified position.
            </p>
                <p> Example: 
                 Given original dataset containing records about orders made by clients: </p>
                <table>
                    <tr>
                        <td> firstName </td>
                        <td> lastName </td>
                        <td> orderNumber </td>
                        <td> totalItems </td>
                        <td> totalCost </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> 1111 </td>
                        <td> 5 </td>
                        <td> 150 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> 857 </td>
                        <td> 7 </td>
                        <td> 70 </td>
                    </tr>

                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> 1112 </td>
                        <td> 30 </td>
                        <td> 340 </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Williams </td>
                        <td> 505 </td>
                        <td> 1 </td>
                        <td> 170 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> 858 </td>
                        <td> 3 </td>
                        <td> 370 </td>
                    </tr>
                    <tr>
                        <td> Mary </td>
                        <td> Williams </td>
                        <td> 1543 </td>
                        <td> 1 </td>
                        <td> 15 </td>
                    </tr>
                </table>
                <p> It is possible to add a row with information about new order: </p>
            <p><img src="/images/addrow.png"></p>
                <table>
                    <tr>
                        <td> firstName </td>
                        <td> lastName </td>
                        <td> orderNumber </td>
                        <td> totalItems </td>
                        <td> totalCost </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> 1111 </td>
                        <td> 5 </td>
                        <td> 150 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> 857 </td>
                        <td> 7 </td>
                        <td> 70 </td>
                    </tr>

                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> 1112 </td>
                        <td> 30 </td>
                        <td> 340 </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Williams </td>
                        <td> 505 </td>
                        <td> 1 </td>
                        <td> 170 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> 858 </td>
                        <td> 3 </td>
                        <td> 370 </td>
                    </tr>
                    <tr>
                        <td> Mary </td>
                        <td> Williams </td>
                        <td> 1543 </td>
                        <td> 1 </td>
                        <td> 15 </td>
                    </tr>
                    <tr>
                        <td> Mary </td>
                        <td> Williams </td>
                        <td> 1544 </td>
                        <td> 2 </td>
                        <td> 465 </td>
                    </tr>
                </table>
    </div>
    </div>
<div>

            <h3>Parameters</h3>
   <div layout = "column"  ng-repeat="value in function.values track by $index ">
       <div layout = "row">
           <md-button class="md-primary button-tight md-default-theme" ng-disabled="function.functionsToDeriveWith.length === 1 || $root.readonlymode || (colnames.length > 0)" ng-click="removeField($index)" aria-label="Remove field">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
           <md-input-container flex >
    <label>{{(colnames.length === 0) ? ("Field "+ $index) : colnames[$index].value}}</label>
        <input ng-model="function.values[$index]" type="text" required ng-readonly="$root.readonlymode">
    </md-input-container>
</div>
</div>
        <md-button class="md-raised" ng-click="addField()" aria-label="Add field" ng-disabled="$root.readonlymode ||  (colnames.length > 0)">Add field </md-button>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="function.docstring" type="text"  ng-readonly="$root.readonlymode">
    </md-input-container>
    <!--md-select ng-model="function.functionToDeriveWith" placeholder="{{function.functionToDeriveWith ? function.functionToDeriveWith.name : 'Choose a function...'}}" ng-selected="{{function.functionToDeriveWith}}">
        <md-optgroup label="Custom functions">
            <md-option ng-repeat="customFunct in transformation.customFunctionDeclarations" value="{{customFunct.name}}">{{customFunct.name}}</md-option>
        </md-optgroup>
        <md-optgroup label="Prefixers">
            <md-option  ng-repeat="prefixer in transformation.prefixers" value="{{prefixer.name}}">{{prefixer.name}}</md-option>
        </md-optgroup>
    </md-select-->
</div>

</div>
<!--
ng-hide="transformation.customFunctionDeclarations"
-->
