<div layout="column">
    <div>
        <md-button aria-label="Show/hide documentation" ng-click="switchShowUsage()"><i class="fa fa-angle-down"  >Show/hide documentation</i></md-button>
            <div class="api-doc-docstring" ng-show = "showUsage" layout="column">
            <p> Given a dataset and a sequence of column identifiers, narrows the dataset to just the specified columns.
            </p>
            <img src="/images/columns.png"></img>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-columns" target="_blank">view source</a>
        </div>
        </div>
        <div>
        <h3>Parameters</h3>
        <div class="whiteframedemoBasicUsage" layout="column"  style="padding-bottom: 32px;">
        <md-whiteframe  class="md-whiteframe-z1"  layout-align="left ">
        <label>Specify column names</label>
        <oi-select oi-options="column.value for column in $root.colnames() track by column.id" ng-model="function.columnsArray" multiple></oi-select>
    <!--md-chips ng-model="function.columnsArray" readonly="function.useLazy || $root.readonlymode">
        <md-chip-template>
            <strong>{{$chip}}</strong>
        </md-chip-template>
    </md-chips-->
    <div style="align:right">
    <md-switch ng-disabled="function.useLazy || $root.readonlymode"  ng-model="function.take" aria-label="switch mode">
    {{function.take?"Take only listed columns":"Take all columns EXCEPT of listed"}}
    </md-switch>
    </div>
</md-whiteframe>
        <md-whiteframe  class="md-whiteframe-z1"  layout-align="left ">
    <md-checkbox ng-model="function.useLazy" aria-label="or specify number of columns to fetch" ng-disabled="$root.readonlymode">
    ...or specify number of columns to fetch
    </md-checkbox>
    <md-input-container flex>
        <label>Number of columns</label>
        <input ng-model="function.numberOfColumns" type="number" min="1" ng-disabled="!(function.useLazy)">
    </md-input-container>
                
</md-whiteframe>
</div>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode">
    </md-input-container>
</div>
</div>
