<div layout="column">
    <div>
        <md-button aria-label="Show/hide documentation" ng-click="switchShowUsage()"><i class="fa fa-angle-down"  >Show/hide documentation</i></md-button>
            <div class="api-doc-docstring" ng-show = "showUsage" layout="column">
            <p> Adds a new column to the end of the row which is derived from existing column(s) with help of specified function.
            
            <a href="../images/derivecolumn.png">view example</a>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-derive-column" target="_blank">source</a>
    </div>
    </div>
<div>

            <h3>Parameters</h3>
    <md-input-container flex>
        <label>Name of new column</label>
        <input ng-model="dfunction.newColName" type="text" required>
    </md-input-container>

    <label>Columns to derive from</label>
    <md-chips ng-model="dfunction.colsToDeriveFrom" readonly="ctrl.readonly">
        <md-chip-template>
            <strong>{{$chip}}</strong>
        </md-chip-template>
    </md-chips>
    <br>
    <div layout="row">
        
    <label>Function to derive with</label>
    <input ng-model="searchFunction" type="text"> 
        <md-button class="md-primary button-tight md-default-theme" ng-disabled="!searchFunction"  aria-label="Search function">
            <i class="fa fa-search fa-lg"></i>
        </md-button>
</div>


<div   ng-repeat="deriveFunction in dfunction.functionsToDeriveWith track by $index ">
    <div >
        <md-button class="md-primary button-tight md-default-theme" ng-disabled="dfunction.functionsToDeriveWith.length === 1" ng-click="removeDeriveFunction($index)" aria-label="Remove function">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
        <div layout ="row">
            
        <md-input-container> 
        <md-select ng-model="dfunction.functionsToDeriveWith[$index]" placeholder="{{dfunction.functionsToDeriveWith[$index] ? dfunction.functionsToDeriveWith[$index].name : 'Choose a function...'}}" ng-selected="dfunction.functionsToDeriveWith">
                    <function-list> </function-list>
                </md-select>
            </md-input-container>
        <md-button class="md-primary button-tight md-default-theme" ng-if="dfunction.paramsToFunctions[$index] === null" ng-click="addParamToFunction($index)" aria-label="Add parameter to function">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </md-button>
    <md-input-container flex ng-if="dfunction.paramsToFunctions[$index]">
    <label>Argument to function</label><input ng-model="dfunction.paramsToFunctions[$index]" type="text" required>
    </md-input-container>
    </div>
    </div>


</div>
        <md-button class="md-raised" ng-click="addDeriveFunction()" aria-label="Compose with function">Compose with </md-button>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="dfunction.docstring" type="text" >
    </md-input-container>
    <!--md-select ng-model="dfunction.functionToDeriveWith" placeholder="{{dfunction.functionToDeriveWith ? dfunction.functionToDeriveWith.name : 'Choose a function...'}}" ng-selected="{{dfunction.functionToDeriveWith}}">
        <md-optgroup label="Custom functions">
            <md-option ng-repeat="customFunct in transformation.customFunctionDeclarations" value="{{customFunct.name}}">{{customFunct.name}}</md-option>
        </md-optgroup>
        <md-optgroup label="Prefixers">
            <md-option  ng-repeat="prefixer in transformation.prefixers" value="{{prefixer.name}}">{{prefixer.name}}</md-option>
        </md-optgroup>
    </md-select-->
</div>

</div>
<!--
ng-hide="transformation.customFunctionDeclarations"
-->
