<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div class="api-doc-docstring" ng-show = "showUsage" layout="column">
            <p> Adds a new column to the end of the row which is derived from existing column(s) with help of specified function.
            
            <p><img src="/images/derivecolumn.png"></p>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-derive-column" target="_blank">view source</a>
    </div>
    </div>
<div>

            <h3>Parameters</h3>
    <md-input-container flex>
        <label>Name of new column</label>
        <input ng-model="function.newColName" type="text" required ng-readonly="$root.readonlymode">
    </md-input-container>

    <label>Columns to derive from</label>
        <oi-select ng-show="colnames.length !== 0" oi-options="column.value for column in colnames track by column.id" ng-model="function.colsToDeriveFrom" multiple ng-disabled="$root.readonlymode" ></oi-select>
        <oi-select ng-show="colnames.length === 0" oi-options="column.value for column in []" oi-select-options="{newItem: true, newItemFn: 'addColumn($query)'}" ng-model="function.colsToDeriveFrom" multiple ng-disabled="$root.readonlymode"></oi-select>
    <br>
    <div layout="column">
        
    <label>Function to derive with</label>
        <div ng-repeat="deriveFunction in function.functionsToDeriveWith" >
        <!--oi-select oi-options="customFunction.name group by customFunction.group for customFunction in  transformation.customFunctionDeclarations track by customFunction.$$hashKey" title="customFunction.docstring"   ng-model="deriveFunction.funct" ng-disabled="$root.readonlymode"></oi-select-->
        <oi-select oi-options="customFunction.name group by customFunction.group for customFunction in  getCustomFunctionsAndPrefixers() track by customFunction.id" title="customFunction.docstring"   ng-model="deriveFunction.funct" ng-disabled="$root.readonlymode"></oi-select>
    <div layout = "row" ng-repeat = "param in reduceFunctionParams(deriveFunction.getParams()) track by $index" >
        <md-input-container>
        <label>{{param}}</label>
        <input ng-model = "deriveFunction.functParams[$index]">
        </md-input-container> 
    
    </div>
    </div>
</div>
<!--div   ng-repeat="deriveFunction in function.functionsToDeriveWith track by $index ">
    <div >
        <md-button class="md-primary button-tight md-default-theme" ng-disabled="function.functionsToDeriveWith.length === 1 || $root.readonlymode" ng-click="removeDeriveFunction($index)" aria-label="Remove function">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
        <div layout ="row">
            
        <md-input-container> 
        <md-select ng-model="function.functionsToDeriveWith[$index]" placeholder="{{function.functionsToDeriveWith[$index] ? function.functionsToDeriveWith[$index].name : 'Choose a function...'}}" ng-selected="function.functionsToDeriveWith" ng-disabled="$root.readonlymode">
                    <function-list> </function-list>
                </md-select>
            </md-input-container>
        <md-button class="md-primary button-tight md-default-theme" ng-if="function.paramsToFunctions[$index] === null" ng-click="addParamToFunction($index)" ng-disabled="$root.readonlymode" aria-label="Add parameter to function">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </md-button>
    <md-input-container flex ng-if="function.paramsToFunctions[$index]">
    <label>Argument to function</label>
    <input ng-model="function.paramsToFunctions[$index]" type="text" required ng-readonly="$root.readonlymode">
    </md-input-container>
    </div>
    </div>


</div-->
        <md-button class="md-raised" ng-click="addDeriveFunction()" aria-label="Compose with function" ng-disabled="$root.readonlymode">Compose with </md-button>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="function.docstring" type="text"  ng-readonly="$root.readonlymode">
    </md-input-container>
    <!--md-select ng-model="function.functionToDeriveWith" placeholder="{{function.functionToDeriveWith ? function.functionToDeriveWith.name : 'Choose a function...'}}" ng-selected="{{function.functionToDeriveWith}}">
        <md-optgroup label="Custom functions">
            <md-option ng-repeat="customFunct in transformation.customFunctionDeclarations" value="{{customFunct.name}}">{{customFunct.name}}</md-option>
        </md-optgroup>
        <md-optgroup label="Prefixers">
            <md-option  ng-repeat="prefixer in transformation.prefixers" value="{{prefixer.name}}">{{prefixer.name}}</md-option>
        </md-optgroup>
    </md-select-->
</div>

</div>
<!--
ng-hide="transformation.customFunctionDeclarations"
-->
