<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div ng-show = "showUsage" layout="column" class="api-doc-docstring">
            <p> Takes a vector of functions and maps each to the key column for every row. Both cell-to-cell and collection-to-collection functions may be used </p>
            <p><img src="/images/mapc.png"></p>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-mapc" target="_blank">view source</a>
        </div>
        </div>
        <div>
        <h3>Parameters</h3>
<md-button class="md-raised" ng-click="addKeyFunctionPair()" aria-label="Add mapping" ng-disabled="$root.readonlymode">Add mapping</md-button>
<div layout="row"  ng-repeat="keyFunctionPair in function.keyFunctionPairs">
    <div layout="row">
        <md-button class="md-primary button-tight md-default-theme" ng-disabled="function.keyFunctionPairs.length === 1 || $root.readonlymode" ng-click="removeKeyFunctionPair(keyFunctionPair)" aria-label="Remove column mapping">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
        <div layout="column">
                <label>Column</label>
        <oi-select ng-show = "$root.colnames()" oi-options="column.value for column in $root.colnames() track by column.id" ng-model="keyFunctionPair.key" ng-disabled="$root.readonlymode"></oi-select>
        <oi-select ng-show = "!$root.colnames()" oi-options="column.value for column in []" ng-model="keyFunctionPair.key" oi-select-options="{newItem: true, newItemFn: 'addColumn($query)'}" ng-disabled="$root.readonlymode"></oi-select>
        </div>
        <div layout="column">
            <md-input-container>
                <md-select placeholder="Choose a function..." ng-model="keyFunctionPair.func" ng-disabled="$root.readonlymode">
                    <function-list> </function-list>
                </md-select>
            </md-input-container>
        </div>
    </div>

</div>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode">
    </md-input-container>
</div>
</div>
