<div layout="column">
    <div>
        <md-button aria-label="Show/hide documentation" ng-click="switchShowUsage()"><i class="fa fa-angle-down"  >Show/hide documentation</i></md-button>
            <div ng-show = "showUsage" layout="column" class="api-doc-docstring">
            <p> Takes a vector of functions and maps each to the key column for every row. Both cell-to-cell and collection-to-collection functions may be used </p>
            <a href="../images/mapc.png">view example</a>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-mapc" target="_blank">source</a>
        </div>
        </div>
        <div>
        <h3>Parameters</h3>
<md-button class="md-raised" ng-click="addKeyFunctionPair()" aria-label="Add mapping">Add mapping</md-button>
<div layout="row"  ng-repeat="keyFunctionPair in mfunction.keyFunctionPairs">
    <div layout="row">
        <md-button class="md-primary button-tight md-default-theme" ng-disabled="mfunction.keyFunctionPairs.length === 1" ng-click="removeKeyFunctionPair(keyFunctionPair)" aria-label="Remove column mapping">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
        <div layout="column">
            <md-input-container>
                <label>Column</label>
                <input ng-model="keyFunctionPair.key" type="text" required>
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <md-select placeholder="Choose a function..." ng-model="keyFunctionPair.func">
                    <function-list> </function-list>
                </md-select>
            </md-input-container>
        </div>
    </div>

</div>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="mfunction.docstring" type="text" >
    </md-input-container>
</div>
</div>
