<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div class="api-doc-docstring" layout = "column" ng-show = "showUsage">
            <p>
                "Melts" dataset in a such way, that each row represents a unique combination of variables and values for given column array
            </p>
            <p>
                <img src="/images/melt.png"/>
            </p>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-melt" target="_blank">view source</a>
        </div>
        </div>
        <div>
        <h3>Parameters</h3>
        <label>Specify column names</label>
        <oi-select ng-show = "colnames.length !== 0" oi-options="column.value for column in colnames track by column.id" ng-model="function.columnsArray" multiple></oi-select>
        <oi-select ng-show = "colnames.length === 0" oi-options="column.value for column in []" ng-model="function.columnsArray" multiple oi-select-options="{newItem: true, newItemFn: 'addColumn($query)'}"></oi-select>
                
    <md-input-container flex>
        <label>Comment</label>

            <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode"/>
        </md-input-container>
    </div>
</div>
