<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div class="api-doc-docstring" layout = "column" ng-show = "showUsage">
            <p>
                "Melts" dataset in a such way, that each row represents a unique combination of variables and values for given column array
            </p>
            <p>
                <img src="/images/melt.png"/>
            </p>
            <a href="http://api.grafter.org/master/grafter.tabular.html#var-melt" target="_blank">view source</a>
        </div>
    </div>
    <div>
        <h2 class="md-title">Parameters</h2>
        <label>Specify column names:</label>
        <md-chips ng-model="function.columnsArray" readonly="$root.readonlymode" >
            <md-chip-template> <strong>{{$chip}}</strong>
            </md-chip-template>
        </md-chips>

        <md-input-container flex>
            <label>Comment</label>

            <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode"/>
        </md-input-container>
    </div>
</div>