<div layout="column">
    <div>
        <show-hide-documentation show-usage="showUsage"></show-hide-documentation>
        <div class="api-doc-docstring" ng-show = "showUsage" >
            <p> Splits given column into multiple by separator. New columns get names of a form [original-column-name]_splitted_0, [original-column-name]_splitted_1, ... </p>
                <p> Example: </p>
                <p> Given original dataset containing records about orders made by clients: </p>
                <table>
                    <tr>
                        <td> firstName </td>
                        <td> lastName </td>
                        <td> address </td>
                        <td> phoneNumber </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> New York, Harrison Street, 507 </td>
                        <td> 263-86-335 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> Richmond, Main Street, 17 </td>
                        <td> 227-11-594 </td>
                    </tr>

                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> New York, Harrison Street, 29, H0512 </td>
                        <td> 263-86-335 </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Williams </td>
                        <td> New York, East 52nd Street, 55 </td>
                        <td> 493-78-145 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> Richmond, Main Street, 17 </td>
                        <td> 482-16-177 </td>
                    </tr>
                </table>

                <p> It is possible to split column address by comma to get every individual element of address in separate column.</p>
            <p><img src="/images/split.png"></p>
                <table>
                    <tr>
                        <td> firstName </td>
                        <td> lastName </td>
                        <td> address_splitted_0 </td>
                        <td> address_splitted_1 </td>
                        <td> address_splitted_2 </td>
                        <td> address_splitted_3 </td>
                        <td> phoneNumber </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> New York </td>
                        <td> Harrison Street </td>
                        <td> 507 </td>
                        <td>  </td>
                        <td> 263-86-335 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> Richmond </td>
                        <td> Main Street </td>
                        <td> 17 </td>
                        <td> </td>
                        <td> 227-11-594 </td>
                    </tr>

                    <tr>
                        <td> Alice </td>
                        <td> Smith </td>
                        <td> New York </td>
                        <td> Harrison Street </td>
                        <td> 29</td>
                        <td> H0512 </td>
                        <td> 263-86-335 </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td> Williams </td>
                        <td> New York </td>
                        <td> East 52nd Street </td>
                        <td> 55 </td>
                        <td>  </td>
                        <td> 493-78-145 </td>
                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td> Johnson </td>
                        <td> Richmond </td>
                        <td> Main Street </td>
                        <td> 17 </td>
                        <td>  </td>
                        <td> 482-16-177 </td>
                    </tr>
                </table>
        </div>
        </div>
        <div>
        <h3>Parameters</h3>
        <label>Column name</label>
        <oi-select ng-show="$root.colnames" oi-options="column.value for column in $root.colnames() track by column.value" ng-model="function.colName" ng-disabled="$root.readonlymode"></oi-select>
        <oi-select ng-show="!$root.colnames" oi-options="column.value for column in []" ng-model="function.colName" oi-select-options="{newItem: true, newItemFn: 'addColumn($query)'}" ng-disabled="$root.readonlymode"></oi-select>
    </md-input-container-->
  <md-input-container flex>
        <label>Separator</label>
        <input ng-model="function.separator" ng-trim="false" type="text" required ng-readonly="$root.readonlymode">
    </md-input-container>
    <md-input-container flex>
        <label>Comment</label>

        <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode">
    </md-input-container>
</div>
</div>
