<div layout="row" class="actions-view">
	<md-button class="md-icon-button" aria-label="Transform the data" ng-click="download()" ng-if="download">
		<i class="fa fa-cogs"></i>
		<md-tooltip>Transform data</md-tooltip>
	</md-button>

	<md-button class="md-icon-button" aria-label="Load a file to process the data N-Tuples" ng-if="disabledDownload" ng-disabled="true">
		<i class="fa fa-cogs"></i>
	</md-button>

	<md-button class="md-icon-button" aria-label="Send" ng-click="send()" ng-if="send">
		<i class="fa fa-send"></i>
		<md-tooltip>Send</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" aria-label="Save" ng-click="save()" ng-if="save">
		<i class="fa fa-magic"></i>
		<md-tooltip>Save</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" aria-label="Fork" ng-click="fork()" ng-if="fork">
		<i class="fa fa-code-fork"></i>
		<md-tooltip>Fork</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" aria-label="Delete" ng-click="delete()" ng-if="delete">
		<i class="fa fa-trash"></i>
		<md-tooltip>Delete</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" aria-label="Help" href="http://dapaas.github.io/documentation/" target="_blank" ng-if="!isIframe">
		<i class="fa fa-question-circle"></i>
		<md-tooltip>Help</md-tooltip>
	</md-button>
</div>
