
<md-button class="md-fab md-raised md-mini md-primary mappingBtn" aria-label="Remove mapping property" ng-click="clickAddPropertyAfter(property)" ng-if="mode==='add'">
  <i class="fa fa-plus"></i>
  <md-tooltip>
    Add sibling property
  </md-tooltip>
</md-button>
<md-button class="md-fab md-raised md-mini md-primary mappingBtn" aria-label="Remove mapping property" ng-click="clickRemoveProperty(property)" ng-if="mode!=='add'">
  <i class="fa fa-minus"></i>
  <md-tooltip>
    Remove property from mapping
  </md-tooltip>
</md-button>