<md-button class="md-fab md-raised md-mini md-primary mappingBtn" aria-label="Add mapping node" ng-click="clickAddNodeAfter(node)" ng-if="mode==='add'">
  <i class="fa fa-plus"></i>
  <md-tooltip>
    Add new root
  </md-tooltip>
</md-button>
<md-button class="md-fab md-raised md-mini md-primary mappingBtn" aria-label="Remove mapping node" ng-click="clickRemoveNode(node)" ng-if="mode!=='add'">
  <i class="fa fa-minus"></i>
  <md-tooltip>
    Remove root from mapping
  </md-tooltip>
</md-button>
