<div layout="row" layout-align="start start">
    <div layout-align="start start">
        <md-button flex class="graph-button md-raised rdf-mapping-blank-node" aria-label="blank node" ng-click="editNode()">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x rdf-mapping-icon-background-inset"></i>
            <i class="fa fa-circle-thin fa-stack-1x fa-inverse"></i>
          </span>
            (blank node)
          <md-tooltip>
            RDF blank node
          </md-tooltip>
        </md-button>
        <add-or-remove-node node="node" parent="parent" ng-if="parent.__type=='Graph'"></add-or-remove-node>
    </div>
    <div style="padding-top:8px" flex layout-align="start start">
        <md-button class="md-primary" aria-label="Add property" ng-click="addSubProperty(null)" ng-hide="node.subElements.length!=0" ng-disabled="$root.readonlymode">
            <i class="fa fa-large fa-plus-circle"></i>&nbsp;Add property
        </md-button>
        <div ng-repeat="property in node.subElements">
            <property-node property="property" parent="node"></property-node>
        </div>
    </div>
</div>