<div layout="column">
    <div>
        <h3>Usage</h3>
        <p class="api-doc-usage"> (columns dataset cols) </p>
            <p class="api-doc-docstring"> Given a dataset and a sequence of column identifiers, columns narrows the dataset to just the supplied columns.
            </p>
            <p class="api-doc-docstring"> Columns specified in the selection that are not included in the Dataset will be silently ignored.</p>
             <p class="api-doc-docstring">
The supplied sequence of columns are first cropped to the number of columns in the dataset before being selected, this means that infinite sequences can safely supplied to this function.
view source</p>
        </div>
        <div>
        <h3>Parameters</h3>
        <label>Specify column names</label>
    <md-chips ng-model="function.columnsArray" readonly="ctrl.readonly">
        <md-chip-template>
            <strong>{{$chip}}</strong>
        </md-chip-template>
    </md-chips>
    <md-checkbox ng-model="function.useLazy" aria-label="or specify number of columns to fetch">
    ...or spesify number of columns to fetch
    </md-checkbox>
    <md-input-container flex>
        <label>Number of columns</label>
        <input ng-model="function.numberOfColumns" type="number" min="1" ng-disabled="!(function.useLazy)">
    </md-input-container>
                
</div>
</div>
