<div layout="row" layout-align="start start">
  <div layout-align="start start">

    <md-fab-speed-dial md-direction="down" class="md-scale" md-open="fabIsOpen"
                         ng-mouseenter="fabIsOpen=true" ng-mouseleave="fabIsOpen=false">
      <md-fab-trigger>
        <md-button flex class="md-raised rdf-mapping-node-button" aria-label="{{node.prefix+':'+node.column}}" ng-click="editNode()">
          <div layout="row" layout-align="start center">
            <div class="fa-stack">
              <i class="fa fa-circle fa-stack-2x rdf-mapping-icon-background-inset"></i>
              <i class="fa fa-columns fa-stack-1x fa-inverse"></i>
            </div>
            <div class="rdf-mapping-node-text">
              <div class="rdf-mapping-prefix-text">{{node.prefix ? '(' + node.prefix + ')' : 'no prefix'}}</div>
              <div class="rdf-mapping-node-text rdf-mapping-column-name-text">
                {{node.column}}
              </div>
            </div>
          </div>
          <md-tooltip>
            {{node.prefix ? '(Column URI) ' + node.prefix + ':' + node.column : '(Column URI) ' + node.column}}
          </md-tooltip>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions ng-if="parent.__type === 'Graph' || true" class="layout-row">
        <add-or-remove-node node="node" parent="parent" mode="add"></add-or-remove-node>
        <add-or-remove-node node="node" parent="parent" mode="delete"></add-or-remove-node>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <div style="padding-top:8px" flex layout-align="start start" ng-if="parent.__type=='Graph'">
    <md-button class="md-primary" aria-label="Add property" ng-click="clickAddChildProperty()" ng-hide="node.subElements.length!=0" ng-disabled="$root.readonlymode">
      <i class="fa fa-large fa-plus-circle"></i>&nbsp;Add property
      <md-tooltip>
        Add a new property
      </md-tooltip>
    </md-button>
    <div ng-repeat="property in node.subElements">
      <property-node property="property" parent="node"></property-node>
    </div>
  </div>
</div>