<div layout="row" layout-align="start start">
  <div  layout-align="start start">
    <md-fab-speed-dial md-direction="down" class="md-scale" md-open="fabIsOpen"
                         ng-mouseenter="fabIsOpen=true" ng-mouseleave="fabIsOpen=false">
      <md-fab-trigger>
        <md-button flex class="md-raised rdf-mapping-node-button" aria-label="{{node.literalValue}}" ng-click="editNode()" ng-disabled="$root.readonlymode">
          <div layout="row">
              <div class="fa-stack" >
              <i class="fa fa-circle fa-stack-2x rdf-mapping-icon-background-inset"></i>
              <i class="fa fa-font fa-stack-1x fa-inverse"></i>
            </div>
            <div class="rdf-mapping-node-text rdf-mapping-column-name-text">
              {{node.literalValue.value}}
            </div>
          </div>
          <md-tooltip>
            {{'(Column literal) ' + node.literalValue.value}}
          </md-tooltip>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions ng-if="parent.__type === 'Graph' &amp;&amp; !$root.readonlymode" class="layout-row">
        <add-node node="node" parent="parent"></add-node>
        <remove-node node="node" parent="parent"></remove-node>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>
