<div layout="row" layout-align="start start">
    <div layout-align="start start">
        <md-button flex class="graph-button md-raised" ng-click="editNode()">
            {{node.prefix+':'+node.column}}
        </md-button>
        <!--        <add-or-remove-node node="node"></add-or-remove-node>-->
        <md-button class="md-primary button-tight mappingBtn" ng-click="clickAddNodeAfter(node)">
            <i class="fa fa-large fa-plus-circle"></i>
        </md-button>
        <md-button class="md-primary button-tight mappingBtn" ng-click="clickRemoveNode(node)">
            <i class="fa fa-large fa-minus-circle"></i>
        </md-button>
    </div>
    <div style="padding-top:8px" flex layout-align="start start">
        <md-button class="md-primary" ng-click="clickAddPropertyAfter(null)" ng-hide="node.subElements.length!=0">
            <i class="fa fa-large fa-plus-circle"></i>&nbsp;Add property
        </md-button>
        <div ng-repeat="property in node.subElements">
            <property-node property="property"></property-node>
        </div>
    </div>
</div>