<md-dialog aria-label='Choose download mode' class="sin-function-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Transform your data</h2>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row" class="sticky-container">
    <div layout="column" flex class="md-padding">
      <div layout="row">
        <div flex="50" style="padding-right:40px">
          <h4 class="md-title" style="margin-bottom:0; text-align:center;">Execute transformation</h4>
          <p class="md-caption">Compile the transformation, execute it and retrieve the results. This may take a few minutes.</p>
        </div>
        <div flex="50">
          <h4 class="md-title" style="margin-bottom:0; text-align:center;">Download transformation executable</h4>
          <p class="md-caption">Compile the transformation and retrieve an executable JAR file.</p>
          <p class="md-caption">Usage:<br>
            <code>
              java -jar transformation.jar &lt;input-file.csv&gt; &lt;output-file.(nt| rdf|n3|ttl)&gt;
            </code>
          </p>
        </div>
      </div>
      <div layout="row">
        <div flex="50" style="padding-right:40px">
          <form target="_blank" method="POST" action="{{transformEndpoint}}" ng-submit="onSubmitExecute()" flex layout="row" class="md-padding" layout-align="center center">
            <input type="hidden" name="clojure" value="{{jarfterClojure}}">
            <input type="hidden" name="csv" value="{{fullData}}">
            <input type="hidden" name="transformed_filename" value="{{isRDF == 1 ? 'result.rdf' : 'result.csv'}}">

            <md-button type="submit" class="md-fab sin-fa-fab-big md-accent" aria-label="Execute transformation" ng-disabled="!fullData">
              <i class="fa fa-bolt fa-5x"></i>
            </md-button>
          </form>
            <p class="processing-status" ng-show="processingStatus">{{processingStatus}}</p>
        </div>
        <div flex>
          <form target="_blank" method="POST" action="{{downloadJarEndpoint}}" ng-submit="onSubmitDownloadJar()" flex layout="row" class="md-padding" layout-align="center center">
            <input type="hidden" name="clojure" value="{{jarfterClojure}}">
            <md-button type="submit" class="md-fab sin-fa-fab-big md-accent" aria-label="Download JAR">
              <i class="fa fa-cube fa-5x"></i>
            </md-button>
          </form>
        </div>
      </div>

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row" layout-align="right">
    <md-button class="md-primary" aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
  </div>
</md-dialog>
