<md-dialog aria-label='Define custom functions...' class="sin-function-dialog sin-width-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Define or edit custom functions</h2> 
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <div>
            <md-select ng-model="selectedCustomFunction" ng-selected="{{emptyCustomFunction}}">
                <md-select-label>{{ selectedCustomFunction.name ? selectedCustomFunction.name : 'Create new function...' }}</md-select-label>
                <md-option ng-value="{{customFunct}}" ng-click="testMe()" ng-repeat="customFunct in $parent.transformation.customFunctionDeclarations">{{customFunct.name}}</md-option>
                <md-option ng-value="{{emptyCustomFunction}}">Create new function...</md-option>
            </md-select>
        </div>
        <div class="background-stuff">
            <ui-codemirror ng-model="selectedCustomFunction.clojureCode" ui-codemirror-opts="codemirrorOpts"></ui-codemirror>
        </div>
        <md-button class="md-padding md-raised" ng-click="saveCustomFunct()" ng-hide="!selectedCustomFunction.name==''">Save function</md-button>


    </md-dialog-content>
    <div class="md-actions" layout="row" layout-align="right">
        <md-button class="md-primary" ng-click="applyCustomFunctionChanges()">Done</md-button>
        <md-button class="md-primary" ng-click="cancelCustomFunctionChanges()">Cancel</md-button>
    </div>
</md-dialog>