<md-dialog aria-label='Edit utility functions' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit utility functions</h2> 
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" class="sin-dark-background-fix">
        <div class="content-stuff utility-functions" layout="column" flex="33">
            <md-content class="sin-functions-list" layout="column" flex md-scroll-y>
                <md-button ng-click="$parent.selectedCustomFunction = function" ng-repeat="function in functionsList" ng-show="function.name!=='fill-when' && function.name!=='add-filename-to-column'  && function.name!=='integer-literal'  && function.name!=='remove-columns'  && function.name!=='replace-varible-string'   && function.name!=='string-literal'   && function.name!=='titleize'  " ng-disabled="function == $parent.selectedCustomFunction">{{function.name}}
                    <md-button ng-if="function == $parent.selectedCustomFunction" class="button-tight" aria-label="Delete this function" ng-click="removeCustomFunct(selectedCustomFunction)">
                        <i class="fa fa-minus-circle"></i>
                        <md-tooltip>Delete this function</md-tooltip>
                    </md-button>
                    <span ng-if="function.nameWarning">
                        <i class="fa fa-warning"></i>
                        <md-tooltip>A function already exists with the same name</md-tooltip>
                    </span>
                </md-button>
                <span flex></span>
            </md-content>
            <md-toolbar class="md-actions" layout = "row" layout-align="left">
                <md-button aria-label="Create new function" ng-click="createNewFunct()">
                    <i class="fa fa-plus"></i>
                </md-button>
                <md-button aria-label="Create new text transformation" ng-click="createNewText()">
                    <i class="fa fa-font"></i>
                </md-button>
            </md-toolbar>
        </div>
        <div flex layout="column">
                <div class="code-mirror-container" flex style="font-size:1.1em;">
                    <ui-codemirror ng-model="selectedCustomFunction.clojureCode" ui-codemirror-opts="codemirrorOpts"></ui-codemirror>
                </div>
            <md-toolbar class="md-actions" layout="row" layout-align="right">
                <md-button ng-click="applyCustomFunctionChanges()" aria-label="Apply custom function changes">Done</md-button>
                <md-button ng-click="cancelCustomFunctionChanges()"  aria-label="Cancel changes to custom functions">Cancel</md-button>
            </md-toolbar>
        </div>
    </md-dialog-content>
</md-dialog>
