<md-content md-scroll-y class="md-padding">
	<md-list>
	  <md-item ng-repeat="item in todos">
	    <md-item-content>
	      <div class="md-tile-left">
			  <i class="fa fa-file"></i>
	      </div>
	      <div class="md-tile-content">
	        <h3>{{item.what}}</h3>
	        <h4>{{item.who}}</h4>
	        <p>
	          {{item.notes}}
	        </p>
	      </div>
	    </md-item-content>
	  </md-item>
	</md-list>
</md-content>

<md-button class="md-accent md-fab md-fab-bottom-right sin-fa-button">
	<i class="fa fa-plus"></i>
</md-button>