<div>
    <md-tabs  flex
             md-no-disconnect md-swipe-content="" md-selected="droprowsSelectedTabIndex">
        <md-tab label="Parameters">
            <md-tab-body>
  <md-input-container flex>
        <label>Number of rows</label>
        <input ng-model="function.numberOfRows" type="number" min="1" required>
    </md-input-container>
            </md-tab-body>
        </md-tab>
        <md-tab label="Description">
            <md-tab-body>
            <md-content layout-padding>
                
            <p class="api-doc-usage"> (drop-rows dataset n) </p>
            <p class="api-doc-docstring"> Drops the first n rows from the dataset, retaining the rest </p>
            </md-content>
            </md-tab-body>
        </md-tab>
<md-tabs>
</div>
