<div layout="column">
    <div>
        <md-button aria-label="Show/hide documentation" ng-click="switchShowUsage()"><i class="fa fa-angle-down"  >Show/hide documentation</i></md-button>
            <div ng-show = "showUsage">
            <p class="api-doc-docstring"> Drops the first n rows from the dataset, retaining the rest </p>
            <img  src="../images/drop-rows.png"></img>
        </div>
        </div>
        <div>
            <h3>Parameters</h3>
  <md-input-container flex>
        <label>Number of rows</label>
        <input ng-model="function.numberOfRows" type="number" min="1" required>
    </md-input-container>
</div>
</div>
