<md-dialog aria-label="{{$root.readonlymode ? 'View' : 'Edit'}} {{function.displayName}} function" class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{$root.readonlymode ? 'View' : 'Edit'}} {{function.displayName}} function</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row">
        <functions-dialog-content transformation="transformation" function="function" selected-function-name="selectedFunctionName" flex layout="row"></functions-dialog-content>
    </md-dialog-content>
</md-dialog>