<md-content md-scroll-y class="md-padding files-list">
	<md-list>
	  <md-item ng-repeat="file in files">
	  	<!-- <div ng-if="file.period"> -->
		  	<!-- <md-subheader ng-show="file.period">{{file.period}}</md-subheader> -->
		  	<!-- <md-subheader ng-show="file.period">{{file.period}}</md-subheader> -->
	  	<!-- </div> -->
	    <md-item-content>
		  	<!-- <md-button ui-sref="files.file({id: file.id})"> -->
		  	<md-button ui-sref="files.file({id: file.id})">
		      <div class="md-tile-content">
  			    <i class="fa fa-file"></i>
		        <h3>{{file.name}}</h3>
		        <h4> <span am-time-ago="file.date"></span> - {{file.date | date:'H\'h\'mm\' - d/M/yyyy'}}</h4>
		        <p>
		          {{file.metadata}}
		        </p>
		      </div>
		  	</md-button>
	    </md-item-content>
	    <md-divider md-inset ng-if="!$last"></md-divider>
	  </md-item>
	</md-list>
</md-content>
<div ng-controller="UploadCtrl">
	<md-button class="md-accent md-fab md-fab-bottom-right sin-fa-button" ng-file-select ng-model="file" accept=".csv,.xsl,.xslx" aria-label="Upload">
		<i class="fa fa-plus"></i>
	</md-button>
</div>
