<md-content md-scroll-y class="md-padding" layout="column" flex>
    <md-input-container class="sin-no-shrink">
      <label>Title</label>
      <input ng-model="document.title" required ng-disabled="!gridOptions">
    </md-input-container>
    <md-input-container class="sin-no-shrink">
        <label>Description</label>
        <textarea ng-model="document.description" ng-disabled="!gridOptions"></textarea>
      </md-input-container>
<!--       <section layout="row" layout-sm="column" layout-align="center center" class="sin-no-shrink">
      <md-button class="md-raised md-accent">Save</md-button>
      <md-button class="md-raised md-primary">Transform</md-button>
      <md-button class="md-raised">Discard</md-button>
    </section>
 -->    <div layout="column" flex class="sin-no-shrink" layout-margin>
		<div ng-if="gridOptions" ui-grid="gridOptions" class="sin-grid md-whiteframe-z3" ui-grid-auto-resize flex></div>
    </div>
</md-content>

