<md-content class="md-padding">
    <md-select ng-model="selectedFunctionName" placeholder="Choose a function...">
        <md-optgroup label="Grafter functions">
            <md-option value="derive-column">derive-column</md-option>
            <md-option value="drop-rows">drop-rows</md-option>
            <md-option value="take-rows">take-rows</md-option>
            <md-option value="make-dataset">make-dataset</md-option>
            <md-option value="mapc">mapc</md-option>
        </md-optgroup>
        <md-option value="custom-code">Add custom code...</md-option>
    </md-select>
    <div flex>
        <drop-rows-function transformation="transformation" ng-if="selectedFunctionName=='drop-rows'"></drop-rows-function>
        <take-rows-function transformation="transformation" ng-if="selectedFunctionName=='take-rows'"></take-rows-function>
        <derive-column-function transformation="transformation" ng-if="selectedFunctionName=='derive-column'"></derive-column-function>
        <make-dataset transformation="transformation" ng-if="selectedFunctionName=='make-dataset'"></make-dataset>
        <mapc-function transformation="transformation" ng-if="selectedFunctionName=='mapc'"></mapc-function>
        <custom-code ng-if="selectedFunctionName=='custom-code'" transformation="transformation"></custom-code>
    </div>
</md-content>
<div class="md-actions" layout="row" layout-align="right">
    <md-button class="md-primary" ng-disabled="!selectedFunctionName" ng-click="add()" aria-label="{{function ? 'Edit' : 'Create'}} function">{{function ? 'Edit' : 'Create'}} function</md-button>
    <md-button class="md-primary" ng-click="closeDialog()" aria-label="Cancel changes to function">Cancel</md-button>
</div>
