<div layout="row">
    <md-content class="sin-functions-list" layout="column" md-scroll-y ng-if="!function">
        <md-button flex ng-click="changeSelected(function.name)" ng-repeat="function in availableFunctions" ng-disabled="function.selected">{{function.name}}</md-button>
    </md-content>
    <div flex layout="column" >
        <md-content ng-class="!selectedFunctionName ? 'sin-dapaas-background md-padding' : 'md-padding'" flex md-scroll-y>
            <columns-function transformation="transformation" ng-if="availableFunctions[0].selected === true"></columns-function>
            <derive-column-function transformation="transformation" ng-if="availableFunctions[1].selected === true"></derive-column-function>
            <drop-rows-function transformation="transformation" ng-if="availableFunctions[2].selected"></drop-rows-function>
            <make-dataset transformation="transformation" ng-if="availableFunctions[3].selected"></make-dataset>
            <mapc-function transformation="transformation" ng-if="availableFunctions[4].selected"></mapc-function>
            <take-rows-function transformation="transformation" ng-if="availableFunctions[5].selected"></take-rows-function>
            <custom-code transformation="transformation" ng-if="availableFunctions[6].selected"></custom-code>
        </md-content>
        <div class="md-actions" layout="row" layout-align="right">
            <!-- <md-button ng-if="function" class="md-primary" ng-click="delete()" aria-label="Remove function">Remove</md-button> -->
            <md-button class="md-primary" ng-disabled="!selectedFunctionName" ng-click="add()" aria-label="{{function ? 'Edit' : 'Create'}} function">{{function ? 'Edit' : 'Create'}} function</md-button>
            <md-button class="md-primary" ng-click="closeDialog()" aria-label="Cancel changes to function">Cancel</md-button>
        </div>
    </div>
</div>
