<md-button class="md-primary" ng-click="clickAddNodeAfter(null)" ng-hide="graph.graphRoots.length!=0">
    <i class="fa fa-large fa-plus-circle"></i>&nbsp;Add node
</md-button>
<div layout="column" ng-model="graph" ng-repeat="node in graph.graphRoots">
    <constant-uri-node ng-if="node.__type=='ConstantURI'" node="node"></constant-uri-node>
    <column-uri-node ng-if="node.__type=='ColumnURI'" node="node"></column-uri-node>
    <constant-literal-node ng-if="node.__type=='ConstantLiteral'" node="node"></constant-literal-node>
    <column-literal-node ng-if="node.__type=='ColumnLiteral'" node="node"></column-literal-node>
</div>
