
<md-content class="md-padding">
    <h2 class="md-display-1">About havahol</h2>

    <h2 class="md-display-1">do stuff</h2>

    <p class="md-body-1">make code {{apiKey}}</p>
    
    
    <div>
        <md-button class="md-raised md-primary" ng-click="defineCustomFunctions()">
            Utility Functions
        </md-button>
    </div>
    
    <div>
        <md-switch ng-model="showPublicUtilityFunctions" ng-change="listUtilityFunctions()">
            Show public
        </md-switch>
        <br>
        <div layout="row">
            <div flex><pre>All:<br>{{ufAllStr}}</pre></div>
            <div flex><pre>Public:<br>{{ufPublicStr}}</pre></div>
            <div flex><pre>Private:<br>{{ufPrivateStr}}</pre></div>
        </div>
    </div>
    
    
    
    
    
    <br>
    <br>
    <md-button class="md-raised md-primary" ng-click="testMetadata(0)">Wierd metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="testMetadata(1)">Simple metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="testMetadata(2)">Mixed metadata</md-button>

    <br>
    <div>{{testText}}</div>
    
</md-content>
