
<md-content class="md-padding">
    <h2 class="md-display-1">About havahol</h2>

    <h2 class="md-display-1">do stuff</h2>

    <p class="md-body-1">make code {{apiKey}}</p>
    
    <br>
    <md-switch ng-model="dummySwitch" ng-change="swapDummy(dummySwitch)">{{dummy}}</md-switch>
    
    
    <br>
    <br>
    <button ng-click="testMetadata1()">Wierd metadata</button>
    <button ng-click="testMetadata2()">Simple metadata</button>
    <button ng-click="testMetadata3()">Mixed metadata</button>

    <br>
    <div>{{testText}}</div>
    
</md-content>
