
<md-content class="md-padding">
    <h2 class="md-display-1">About havahol</h2>

    <h2 class="md-display-1">do stuff</h2>

    <p class="md-body-1">make code {{apiKey}}</p>
    
    
    <div>
        <md-button class="md-raised md-primary" ng-click="defineCustomFunctions()">
            Utility Functions
        </md-button>
    </div>
    
    <div>
        <md-switch ng-model="showPublicUtilityFunctions" ng-change="listUtilityFunctions()">
            Show public
        </md-switch>
        <br>
        <div layout="row">
            <div flex><pre>All:<br>{{ufListAllStr}}</pre></div>
            <div flex><pre>Public:<br>{{ufListPublicStr}}</pre></div>
            <div flex><pre>Private:<br>{{ufListPrivateStr}}</pre></div>
        </div>
    </div>
    
    
    
    
    
    <br>
    <br>
    <md-button class="md-raised md-primary" ng-click="testMetadata(0)">Wierd metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="testMetadata(1)">Simple metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="testMetadata(2)">Mixed metadata</md-button>

    <br>
    <div>{{testText}}</div>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>Key</label>
        <input ng-model="metadataKey">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Value</label>
        <input ng-model="metadataValue">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="createMetaData()">Create new metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="updateMetaData()">Updata metadata</md-button>
    <md-button class="md-raised md-primary" ng-click="deleteMetaData()">Delete metadata</md-button>
    
</md-content>
