<md-dialog aria-label='Load a distribution' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Load a distribution</h2> 
        </div>
    </md-toolbar>
    <md-dialog-content layout="column">
        <md-content class="sin-load-distribution-view" layout="column" flex md-scroll-y>
        <p class="md-padding md-caption" style="text-align:center;" ng-if="datasets.length === 0">You don't have distributions yet.</p>
        <md-radio-group ng-model="selectedDistribution" ng-change="load(selectedDistribution)">
        <v-accordion class="vAccordion--default md-margin" flex
            onexpand="accordionExpandCallback(index)">
          <v-pane ng-repeat="dataset in datasets" expanded="$first">
            <v-pane-header layout="row">
              <md-button class="md-raised md-primary md-hue-1">
                {{dataset['dct:title']}}
              </md-button>
            </v-pane-header>
            <v-pane-content>
                <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-if="dataset.distributionsLoading"></md-progress-circular>
                <div ng-repeat="distribution in dataset.distributions">
                  <md-radio-button ng-value="distribution">{{distribution | beautifyUri}}</md-radio-button>
                </div>
                <div ng-if="!dataset.distributionsLoading &amp;&amp;dataset.distributions.length===0">
                  <p class="empty-distribution md-body-1">This distribution doesn't contain datasets.</p>
                </div>
            </v-pane-content>
          </v-pane>
        </v-accordion>
        </md-radio-group>
        </md-content>
        <md-toolbar class="md-actions" layout="row" layout-align="right">
            <md-button ng-click="cancel()"  aria-label="Cancel changes to custom functions">Cancel</md-button>
        </md-toolbar>
    </md-dialog-content>
</md-dialog>

