<md-dialog aria-label='Load a distribution' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Load a distribution</h2> 
        </div>
    </md-toolbar>
    <md-dialog-content layout="column">
        <md-content class="sin-load-distribution-view" layout="column" flex md-scroll-y>
            <p class="md-padding md-caption" style="text-align:center;" ng-if="dataDistributions.length === 0">You don't have distributions yet.</p>
            <md-virtual-repeat-container flex class="dapaas-list">
                <md-list>
                    <md-list-item class="md-2-line" md-virtual-repeat="distribution in dataDistributions" ng-click="load(distribution)">
                        <div class="md-avatar fa fa-file">
                        <!-- <i class="fa fa-filter"></i> -->
                        </div>
                        <div class="md-list-item-text">
                            <h3>{{distribution['dct:title']}}</h3>
                            <p>{{distribution['dct:modified'] | date:'d/M/yyyy'}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-virtual-repeat-container>
        </md-content>
        <md-toolbar class="md-actions" layout="row" layout-align="right">
            <md-button ng-click="cancel()"  aria-label="Cancel the distribution loading">Cancel</md-button>
        </md-toolbar>
    </md-dialog-content>
</md-dialog>

