<md-content layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-select ng-model="selectedTransformationAction">
                <md-select-label>Action</md-select-label>
                <md-option value="edit-prefixers" ng-click="editPrefixers()">Edit prefixes...</md-option>
                <md-option value="create-custom-function" ng-click="createCustomFunction()">Define custom functions...</md-option>
                <md-option value="preview-pipeline" ng-click="previewPipeline()">Preview code...</md-option>
                <md-option value="modify-rdf-mapping" ng-click="modifyMapping()">Modify RDF mapping...</md-option>
            </md-select>
        </div>
    </md-toolbar>
    <pipeline></pipeline>

</md-content>