<div layout="column">
    <div>
        <h3>Usage</h3>
            <p class="api-doc-usage"> (mapc dataset fs) </p>
            <p class="api-doc-docstring"> Takes a vector or a hashmap of functions and maps each to the key column for every row. Each function should be from a cell to a cell, where as with apply-columns it should be from a column to a column i.e. its function from a collection of cells to a collection of cells. </p>
            <p class="api-doc-docstring"> 
            If the specified column does not exist in the source data a new column will be created, though the supplied function will need to either ignore its argument or handle a nil argument.
            </p>
        </div>
        <div>
        <h3>Parameters</h3>
<md-button class="md-raised" ng-click="addKeyFunctionPair()" aria-label="Add mapping">Add mapping</md-button>
<div layout="row"  ng-repeat="keyFunctionPair in function.keyFunctionPairs">
    <div layout="row">
        <md-button class="md-primary button-tight md-default-theme" ng-click="removeKeyFunctionPair(keyFunctionPair)" aria-label="Remove column mapping">
            <i class="fa fa-trash fa-lg"></i>
        </md-button>
        <div layout="column">
            <md-input-container>
                <label>Column</label>
                <input ng-model="keyFunctionPair.key" type="text" required>
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <md-select placeholder="Choose a function..." ng-model="keyFunctionPair.func">
                    <md-optgroup label="Custom functions">
                        <md-option ng-repeat="customFunct in transformation.customFunctionDeclarations" value="{{customFunct.name}}">{{customFunct.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Prefixers">
                        <md-option  ng-repeat="prefixer in transformation.prefixers" value="{{prefixer.name}}">{{prefixer.name}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>

</div>
</div>
</div>
