<md-dialog aria-label='Choose mapping node...' class="sin-function-dialog">
    <md-dialog-content class="sticky-container">
        <md-tabs class="md-primary no-border-radius sin-mapping-tabs" flex md-no-disconnect md-swipe-content="" ng-model="dialogState.selectedTab" ng-change="changeType()" md-dynamic-height>
            <md-tab label="URI node" md-on-select="changeType()">
                <md-tab-body>
                    <div class="md-padding" layout="column">
                        <md-input-container flex>
                            <label>Select node prefix</label>
                            <input ng-model="newNode.prefix" type="text" required>
                        </md-input-container>

                        <label>Select mapping source type</label>
                        <md-select ng-model="dialogState.mappingType" placeholder="Choose a type..." required ng-change="changeType()">
                            <md-option value="dataset-col">From dataset column</md-option>
                            <md-option value="free-defined">Free-defined text</md-option>
                        </md-select>
                        <md-input-container flex ng-if="dialogState.mappingType=='free-defined'">
                            <label>Node URI</label>
                            <input ng-model="newNode.constant" type="text">
                        </md-input-container>
                        <md-input-container flex ng-if="dialogState.mappingType=='dataset-col'">
                            <label>Select column</label>
                            <input ng-model="newNode.column" type="text">
                        </md-input-container>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab label="Literal node" md-on-select="changeType()">
                <md-tab-body>
                    <div class="md-padding">
                    <label>Select mapping source type</label>
                    <md-select ng-model="dialogState.mappingType" placeholder="Choose a type..." required ng-change="changeType()">
                        <md-option value="dataset-col">From dataset column</md-option>
                        <md-option value="free-defined">Free-defined text</md-option>
                    </md-select>
                    <md-input-container flex ng-if="dialogState.mappingType=='free-defined'">
                        <label>Literal value</label>
                        <input ng-model="newNode.literalValue" type="text">
                    </md-input-container>
                    <md-input-container flex ng-if="dialogState.mappingType=='dataset-col'">
                        <label>Select column</label>
                        <input ng-model="newNode.column" type="text">
                    </md-input-container>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab label="Blank node" md-on-select="changeType()">
                <md-tab-body>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </md-dialog-content>
    <div class="md-actions" layout="row" layout-align="right">
        <md-button class="md-primary" ng-click="addNode()">{{isCreate ? 'Create' : 'Edit'}} node</md-button>
        <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
    </div>
</md-dialog>