<md-dialog aria-label='Choose mapping node...' class="sin-function-dialog">
  <md-dialog-content class="sticky-container">
    <style type="text/css">
      .dropzone {
        width: 250px;
        height: 15px;
        border: 1px dashed #ccc;
        text-align: center;
        padding: 30px;
        margin: 20px;
        font-family: Arial;
      }
    </style>
    <md-tabs class="md-primary no-border-radius sin-mapping-tabs" flex md-no-disconnect md-swipe-content="{{isMobile}}" ng-model="dialogState.selectedTab" ng-change="changeType()" md-dynamic-height md-selected="dialogState.selectedTab">
      <md-tab label="URI node" md-on-select="changeType()">
        <md-tab-body>
          <div layout="column" class="md-padding">
            <label ng-hide="hideToolbar">Select mapping source type</label>
            <md-select ng-model="dialogState.mappingType" placeholder="Choose a type..." required ng-change="changeType()" ng-hide="hideToolbar">
              <md-option value="dataset-col">From dataset column</md-option>
              <md-option value="free-defined">Free-defined text</md-option>
            </md-select>
            <md-input-container flex ng-if="dialogState.mappingType=='dataset-col'">
              <label>Select node prefix</label>
              <input ng-model="newNode.prefix" type="text">
            </md-input-container>
            <md-input-container flex ng-if="dialogState.mappingType=='dataset-col'">
              <label>Select column</label>
              <input ng-model="newNode.column" type="text">
            </md-input-container>
            <!--
<md-input-container flex ng-if="dialogState.mappingType=='free-defined'">
<label>Node URI</label>
<input ng-model="newNode.constant" type="text">
</md-input-container>
-->
            <div class="modal-dialog animate-switch-container" ng-switch on="selection" ng-if="dialogState.mappingType=='free-defined'">
              <div class="modal-content animate-switch" ng-switch-default>
                <form name="graphsForm" >
                  <div layout="row" >
                    <md-input-container flex class="sin-no-shrink">
                      <label>Node name</label>
                      <input ng-model="propertyValue.value" type="text" name="searchInput" required>
                      <div ng-messages="graphsForm.searchInput.$error">
                        <div ng-message="required">Node name is required.</div>
                        <div ng-message="pattern">Not a valid Node name.</div>
                      </div>
                    </md-input-container>
                    <md-button aria-label='search' class="md-icon-button fa fa-search" ng-click="search(propertyValue.value)"></md-button>
                    </div>
                </form>
                <h5 align="center" ng-show="showSearchEmptyResult">No matched result</h5>
                <div ng-show="showSearchResult" >
                  <md-list>
                    <md-list-item ng-click="addResult(item)" ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
                      <p> {{ item}} </p>
                      <md-button aria-label='add' class="md-primary md-icon-button fa fa-plus" ng-click="addResult(item)"></md-button>
                    </md-list-item>
                  </md-list>
                  <div ng-show="showSearchPagination">
                    <md-button aria-label='<<' class="md-icon-button fa fa-angle-double-left"  ng-disabled="currentPage == 0" ng-click="currentPage=0">
                    </md-button>
                    <md-button aria-label='<' class="md-icon-button fa fa-angle-left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    </md-button>
                    <label>{{currentPage + 1}}</label>
                    <md-button aria-label='>' class="md-icon-button fa fa-angle-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">
                    </md-button>
                    <md-button aria-label='>>' class="md-icon-button fa fa-angle-double-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=numberOfPages() - 1">
                    </md-button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </md-tab-body>
      </md-tab>
      <md-tab label="Literal node" md-on-select="changeType()">
        <md-tab-body>
          <div class="md-padding">
            <label>Select mapping source type</label>
            <md-select ng-model="dialogState.mappingType" placeholder="Choose a type..." required ng-change="changeType()">
              <md-option value="dataset-col">From dataset column</md-option>
              <md-option value="free-defined">Free-defined text</md-option>
            </md-select>
            <md-input-container flex ng-if="dialogState.mappingType=='free-defined'">
              <label>Literal value</label>
              <input ng-model="newNode.literalValue" type="text">
            </md-input-container>
            <md-input-container flex ng-if="dialogState.mappingType=='dataset-col'">
              <label>Select column</label>
              <input ng-model="newNode.literalValue" type="text">
            </md-input-container>
          </div>
        </md-tab-body>

      </md-tab>
      <md-tab label="Blank node" md-on-select="changeType()">
      </md-tab>

    </md-tabs>
    <div ng-hide="hideToolbar" class="md-actions" layout="row" layout-align="right">
      <md-button class="md-primary" ng-click="addNode()" aria-label="{{isCreate ? 'Create' : 'Edit'}} node">{{isCreate ? 'Create' : 'Edit'}} node</md-button>
      <md-button class="md-primary" ng-click="closeDialog()" aria-label="Cancel changes to node">Cancel</md-button>
    </div>

  </md-dialog-content>
</md-dialog>
