
<div layout="column" class="pipeline-flow">
    <div class="pipeline-flow-line"></div>
    <div data-as-sortable="dragControlListeners" data-ng-model="pipeline.functions">
        <div data-as-sortable-item ng-repeat="funct in pipeline.functions" flex>
                <div data-as-sortable-item-handle layout="row" layout-align="center">
                <pipeline-function transformation="transformation" function="funct"></pipeline-function> 
                  <md-button class="md-primary button-tight" aria-label="Add pipeline step" ng-click="clickAddAfter(funct)">
                    <i class="fa fa-large fa-plus-circle"></i>
                </md-button>
                <md-button class="md-primary button-tight" aria-label="Remove pipeline step" ng-click="clickRemove(funct)">
                    <i class="fa fa-large fa-minus-circle"></i>
                </md-button>
        </div>
    </div>
</div>
    <div layout="row" layout-align="center" ng-hide="pipeline.functions.length!=0">
        <md-button class="md-primary button-tight" aria-label="Add pipeline step" ng-click="clickAddAfter(null)">
            <i class="fa fa-large fa-plus-circle"></i>
        </md-button>
    </div>
</div>
