<md-tabs class="md-accent no-border-radius" flex
md-no-disconnect md-swipe-content="">
    <md-tab label="Dataset">
        <md-tab-body>
            perdu
        </md-tab-body>
    </md-tab>
    <md-tab label="Perdu">
        <md-tab-body>
            perdu
        </md-tab-body>
    </md-tab>
    <md-tab label="Original">
        <md-tab-body>
            perdu
        </md-tab-body>
    </md-tab>
    <md-tab label="Raw">
        <md-tab-body>
            perdu
        </md-tab-body>
    </md-tab>
</md-tabs>
