<md-content flex layout="column">
<md-tabs class="md-accent no-border-radius" flex layout="column" md-swipe-content="{{isMobile}}" md-stretch-tabs="always" md-selected="selectedTabIndex" resize-hand-tabs-fix="right">
    <md-tab label="Previewed data">
        <md-tab-body>
            <div class="md-whiteframe-z5 md-body-2 md-warm error-infos" ng-show="graftwerkException">
                {{graftwerkException}}
            </div>
            <preview-table class="with-bottom-switch" ng-model="data.edn" ng-load-more="loadMorePreview"></preview-table>
            <md-switch class="live-preview-switch" ng-model="livePreview" aria-label="Switch live preview">
                Automatic preview
            </md-switch>
            
        </md-tab-body>
    </md-tab>
    <!-- TODO disabled looks like it's broken -->
    <md-tab label="Original data" disabled="!selectedDistribution"
        md-on-select="loadOriginalData()">
        <md-tab-body>
            <preview-table ng-model="originalData.edn" hide-headers ng-load-more="loadMoreOriginal"></preview-table>
        </md-tab-body>
    </md-tab>
</md-tabs>

</md-content>
