<md-dialog aria-label='Specify property node...' class="sin-function-dialog">
    <style type="text/css">
        .dropzone {
          width: 250px;
          height: 15px;
          border: 1px dashed #ccc;
          text-align: center;
          padding: 30px;
          margin: 20px;
          font-family: Arial;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="showSearchDialog">
            <h2>Specify property node</h2>
        </div>
		<md-progress-linear md-mode="indeterminate" ng-show="showProgress"></md-progress-linear>
    </md-toolbar>

	<md-dialog-content>
		<div class="modal-dialog animate-switch-container" ng-switch on="selection" >
			<div class="modal-content animate-switch" ng-switch-default>
        <form name="graphsForm" >
          <div layout="row" class="md-padding" >
            <md-input-container flex class="sin-no-shrink">
              <label>Property name</label>
              <input ng-model="propertyValue.value" type="text" name="searchInput" required>
              <div ng-messages="graphsForm.searchInput.$error">
                <div ng-message="required">Property name must be specified.</div>
                <div ng-message="pattern">Not a valid property.</div>
              </div>
            </md-input-container>
            <!--
            <div ng-controller="DemoCtrl as ctrl" flex = "80">
              <md-autocomplete
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-floating-label ="Property name">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-item-template>
              </md-autocomplete>

            </div>
            -->
            <md-button aria-label='search' class="md-icon-button fa fa-search" ng-click="search(propertyValue.value)"></md-button>
          </div>
        </form>
        <h5 align="center" ng-show="showSearchEmptyResult">No matched result</h5>
				<div ng-show="showSearchResult" >
					<md-list>
						<md-list-item ng-click="addResult(item)" ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
							<p> {{item}} </p>
							<md-button aria-label='add' class="md-primary md-icon-button fa fa-plus" ng-click="addResult(item)"></md-button>
						</md-list-item>
					</md-list>
          <div ng-show="showSearchPagination">
            <md-button aria-label='<<' class="md-icon-button fa fa-angle-double-left"  ng-disabled="currentPage == 0" ng-click="currentPage=0">
            </md-button>
            <md-button aria-label='<' class="md-icon-button fa fa-angle-left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            </md-button>
            <label>{{currentPage + 1}}</label>
            <md-button aria-label='>' class="md-icon-button fa fa-angle-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">
            </md-button>
            <md-button aria-label='>>' class="md-icon-button fa fa-angle-double-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=numberOfPages() - 1">
            </md-button>
          </div>
				</div>

				<div class="md-actions" layout="row" layout-align="right">
					<md-button class="md-primary" ng-click="addProperty()">{{isCreateNew ? 'Create' : 'Edit'}} property</md-button>
					<md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
				</div>
			</div>
		</div>
    </md-dialog-content>
</md-dialog>
