<div class="md-padding map-tabular-data-view">
   <md-switch aria-label="Map the tabular data to RDF" flex ng-model="mappingEnabled" ng-change="switchMapping()" ng-disabled="readonlymode">
     Map the tabular data to RDF
   </md-switch>
</div>
<div class="md-padding" layout="row">
    <md-button aria-label="Edit RDF mapping prefixes" ng-click="editRDFPrefixes()" ng-show="mappingEnabled" ng-disabled="readonlymode">
        <i class="fa fa-cubes"></i> Edit RDF mapping prefixes
    </md-button>
    <md-switch ng-model="switchValidate.cb1" aria-label="Validate" ng-show="mappingEnabled &amp;&amp; !readonlymode" ng-change="onChange(switchValidate.cb1)">
      Mapping validation: {{ message }}
    </md-switch>
</div>
<div ng-model="transformation.graphs" layout="row" class="md-padding">
    <div ng-repeat="graph in transformation.graphs">
        <form name="graphsForm" class="md-padding" >
            <md-input-container flex class="sin-no-shrink">
                <label>Graph URI</label>
                <input ng-model="graph.graphURI" name="graphURI" type="url" required ng-readonly="readonlymode">
                <div ng-messages="graphsForm.graphURI.$error">
                    <div ng-message="required">A valid URI is required.</div>
                    <div ng-message="url">You should enter a valid URI.</div>
                </div>
            </md-input-container>

        </form>

        <graph-mapping graph="graph" flex layout="column"></graph-mapping>
    </div>
</div>
