
<div ng-model="transformation.graphs" layout="row">
    <md-button class="md-primary" ng-click="clickAddAfter(null)" ng-hide="transformation.graphs.length!=0" flex>
        <i class="fa fa-large fa-plus-circle"></i>
    </md-button>
    <div ng-repeat="graph in transformation.graphs">
        <form name="graphsForm" class="md-padding" >
            <md-input-container flex class="sin-no-shrink">
                <label>Graph URI</label>
                <input ng-model="graph.graphURI" name="graphURI" type="text" required>
                <div ng-messages="graphsForm.graphURI.$error">
                    <div ng-message="required">Field is required.</div>
                    <div ng-message="pattern">Not a valid URI.</div>
                </div>
            </md-input-container>

        </form>

        <graph-mapping graph="graph" flex layout="column"></graph-mapping>
    </div>
</div>