<md-dialog aria-label='Search Vocabulary' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Search Vocabulary</h2> 
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
		<div  class="modal-dialog animate-switch-container" ng-switch on="selection" >
			<div class="modal-content animate-switch" ng-switch-default>
				<div layout="row" >
					<md-input-container flex flex-order="0">
						<input type="text" placeholder="Search" ng-model="searchvalue.keyword" required/>
						<div ng-messages="graphsForm.propertyName.$error" >
						<div ng-messages="graphsForm.propertyName.$error" >
							<div ng-message="required">keyword is required.</div>
							<div ng-message="pattern">Not a valid keyword.</div>
						</div>
					</div>
					</md-input-container>
					<md-button ng-click="search(searchvalue.keyword)">
						<span class="fa fa-search"></span>
					</md-button>
					<md-button ng-click="switchToManageDialog()">
						<span class="fa fa-database"></span>
					</md-button>
				</div>
				<!--
				<table ng-table="searchTableParams" class="table">
					<tr ng-repeat="item in $data">
						<td data-title="Result">{{item.value}}</td>
						<td><span ng-click="addResult(item.value)" class="fa fa-plus"></span></td>
					</tr>
				</table>
				-->

				<md-list>
					<md-list-item ng-click="addResult(item.value)" ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
						<p> {{ item.value }} </p>
					</md-list-item>
				</md-list>
				
				<md-button class="md-icon-button fa fa-angle-double-left"  ng-disabled="currentPage == 0" ng-click="currentPage=0">
				</md-button>
				<md-button class="md-icon-button fa fa-angle-left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
				</md-button>
				<label ng-model="">{{currentPage + 1}}</label>
				<md-button class="md-icon-button fa fa-angle-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">
				</md-button>
				<md-button class="md-icon-button fa fa-angle-double-right" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=numberOfPages() - 1">
				</md-button>
				<label ng-model="">total: {{numberOfPages()}}</label>

				<div class="md-actions" layout="row" layout-align="right">
					<md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
				</div>
			</div>

			<div class="modal-content animate-switch" ng-switch-when="manageDialog">	
				<md-button ng-click="switchToAddDialog()">
					<span class="fa fa-plus"></span>
				</md-button>
				<md-button type="button" class="btn btn-default" ng-click="switchToSearchDialog()">
					<span class="fa fa-search"></span>
				</md-button>

				<!--
				<table ng-table="manageTableParams" class="table">
					<tr ng-repeat="vocab in $data">
						<td data-title="Vocabulary">{{vocab.value}}</td>
						<td><span ng-click="deleteItem(vocab.value)" class="fa fa-remove"></span></td>
					</tr>
				</table>
				-->
			</div>
			
			<div class="modal-content animate-switch" ng-switch-when="addVocabDialog">
				<md-input-container>
					<label>Vocabulary Name</label>
					<input value="foaf" type="text" class="form-control" placeholder="Name" ng-model="vocabName" required/>
					<div ng-messages="graphsForm.propertyName.$error" >
						<div ng-message="required">vocabulary name is required.</div>
						<div ng-message="pattern">Not a valid vocabulary name.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Namespace</label>
				    <input type="text" placeholder="Prefix" ng-model="vocabPrefix" required/>
					<div ng-messages="graphsForm.propertyName.$error" >
						<div ng-message="required">vocabulary namespace is required.</div>
						<div ng-message="pattern">Not a valid vocabulary namespace.</div>
					</div>
				</md-input-container>
				<md-input-container>
				    <label>Path</label>
				    <input type="text" placeholder="Location" ng-model="vocabLoc" required/>
					<div ng-messages="graphsForm.propertyName.$error" >
						<div ng-message="required">vocabulary path is required.</div>
						<div ng-message="pattern">Not a valid vocabulary path.</div>
					</div>
				</md-input-container>
				<div class="modal-footer">
					<md-button class="md-primary" ng-click="switchToManageDialog()">Cancel</md-button>
					<md-button class="md-primary" ng-click="addVocabToTable(vocabName, vocabPrefix, vocabLoc)">Add</md-button>
				</div>
			</div>
		</div>

    </md-dialog-content>
</md-dialog>