<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <!-- <h2 class="md-flex">Toolbar: md-warn</h2> -->
	  <form layout="row" layout-sm="column" ng-submit="submit()">
	    <md-input-container>
	   		<label>&nbsp;</label>
	      <input ng-model="searchinput" placeholder="Search">
	    </md-input-container>
			<md-button class="md-icon-button" type="submit">
				<i class="fa fa-search"></i>
			</md-button>
    </form>
	  <div class="flex"></div>
    <!-- <h2>My transformations</h2> -->
    <md-switch ng-model="showShared" aria-label="Switch 1" class="md-hue-1 md-warn" ng-change="submit()">
	    Show shared
	  </md-switch>
  </div>
</md-toolbar>
<md-content flex layout="column" class="dapaas-list">
	<md-virtual-repeat-container flex>
		<md-list>
		  <md-list-item class="md-2-line" md-virtual-repeat="transformation in transformations" ng-click="selectTransformation(transformation)">
			  <div class="md-avatar fa fa-filter">
			  	<!-- <i class="fa fa-filter"></i> -->
			  </div>
			    <div class="md-list-item-text">
				    <h3>{{transformation['dct:title']}}</h3>
					<p>{{transformation['dct:modified'] | date:'d/M/yyyy'}}</p>
				</div>
		  </md-list-item>
	  </md-list>
  </md-virtual-repeat-container>
</md-content>

<md-button class="md-accent md-fab md-fab-bottom-right sin-fa-button" ui-sref="transformations.new" aria-label="New transformation">
	<i class="fa fa-plus"></i>
</md-button>
