<md-content flex layout="column"
  ngf-drop ng-model="fileUpload" ngf-drag-over-class="show-upload-indicator"
  ngf-accept="'.csv,.xsl,.xslx'">
<md-button class="md-accent upload-indicator">
  <i class="fa fa-upload"></i>
</md-button>
<md-tabs class="md-accent no-border-radius" flex md-no-disconnect>
  <md-tab label="Metadata">
    <md-tab-body>
      <form name="transformationForm">
      <md-input-container class="sin-no-shrink">
        <label>Title</label>
        <input ng-model="document.title" name="title" required pattern="[a-zA-Z0-9\s\-]*">
        <div ng-messages="transformationForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">The title shouldn't contain special characters.</div>
        </div>
      </md-input-container>
      <md-input-container class="sin-no-shrink">
        <label>Description</label>
        <textarea ng-model="document.description"></textarea>
      </md-input-container>
      <div layout="row">
        <md-switch aria-label="Expose as public" ng-model="document['dct:public']" flex>
          Expose as public
        </md-switch>
        <p flex ng-show="document['dct:publisher']">
          Publisher: <strong>{{document['dct:publisher']}}</strong> 
        </p>
      </div>
      </form>
    </md-tab-body>
  </md-tab>
  <md-tab label="Pipeline">
    <md-tab-body>
      <pipeline pipeline="pipeline"></pipeline>
    </md-tab-body>
  </md-tab>
  <md-tab label="Clojure">
    <md-tab-body>
      <clojure-pipeline transformation="transformation"></clojure-pipeline>
    </md-tab-body>
  </md-tab>
</md-tabs>
</md-content>