<md-content md-scroll-y class="md-padding">
	<md-list>
	  <md-item ng-repeat="datapage in datapages">
	    <md-item-content>
	      <div class="md-tile-left">
			  <i class="fa fa-file"></i>
	      </div>
	      <div class="md-tile-content">
	        <h3>{{datapage.title}}</h3>
	        <h4>{{datapage.data}}</h4>
	        <p>
	          {{datapage.metadata}}
	        </p>
	      </div>
	    </md-item-content>
	  </md-item>
	</md-list>
</md-content>

<md-button class="md-accent md-fab md-fab-bottom-right sin-fa-button" ui-sref="transformations.new" aria-label="New transformation">
	<i class="fa fa-plus"></i>
</md-button>
