<md-dialog aria-label='Edit utility functions' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit utility functions</h2> 
            <span flex="" class="flex"></span>
            
            <md-switch ng-model="switchShowPublic" ng-change="updateUFList()" ng-hide="switchShowAll">
            {{switchShowPublicText}}
            </md-switch>
            <md-switch ng-model="switchShowAll" ng-change="updateUFList()">
            Show all
            </md-switch>
            
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" class="sin-dark-background-fix">
        <div class="content-stuff utility-functions" layout="column" flex="33">
            <md-content class="sin-functions-list" layout="column" flex md-scroll-y>
                <md-button ng-repeat="(id,function) in ufAll" ng-show="function.visible" ng-click="setSelectedUF(id)"  ng-disabled="id == selectedUF">{{function.name}}
                    <md-button class="button-tight sin-utilty-function-sub-buttons" aria-label="Delete this function" ng-click="showDelete()" ng-hide="id != selectedUF">
                        <i class="fa fa-minus-circle"></i>
                        <md-tooltip>Delete this function</md-tooltip>
                    </md-button>
                    <span ng-if="function.nameWarning">
                        <i class="fa fa-warning"></i>
                        <md-tooltip>A function already exists with the same name</md-tooltip>
                    </span>
                    <span flex></span>
                    <md-button class="button-tight sin-utility-function-sub-buttons" ng-disabled="id != selectedUF" ng-click="changePublicity(selectedUF)" ng-hide="!ufAll[id].public">
                        <i class="fa fa-unlock"></i>
                        <md-tooltip>{{function.publicInfo.text}}</md-tooltip>
                    </md-button>
                    <md-button class="button-tight sin-utility-function-sub-buttons" ng-disabled="id != selectedUF" ng-click="changePublicity(selectedUF)" ng-hide="ufAll[id].public">
                        <i class="fa fa-lock"></i>
                        <md-tooltip>{{function.publicInfo.text}}</md-tooltip>
                    </md-button>
                </md-button>
                <span flex></span>
                
            </md-content>
            <md-toolbar class="md-actions" layout = "row" layout-align="left">
                <md-button aria-label="Create new function" ng-click="createNewUtilityFunction()">
                    <md-tooltip>New utility function</md-tooltip>
                    <i class="fa fa-plus"></i>
                </md-button>
                <md-button aria-label="Create new text transformation" ng-click="createNewTextTransformation()">
                    <md-tooltip>New text transformation</md-tooltip>
                    <i class="fa fa-font"></i>
                </md-button>
            </md-toolbar>
        </div>
        <div flex layout="column">
                <div class="code-mirror-container" flex style="font-size:1.1em;">
                    <ui-codemirror ng-model="ufAll[selectedUF].configuration.code" ui-codemirror-opts="codemirrorOpts" ng-keydown="markAsChanged()"></ui-codemirror>
                </div>
            <md-toolbar class="md-actions" layout="row" layout-align="right">
                <md-button aria-label="Abort delete" ng-click="abortDelete()" ng-hide="!ufAll[selectedUF].showDeleteOption" class="md-raised md-primary">
                    Abort delete
                </md-button>
                <md-button aria-label="Confirm delete" ng-click="deleteUtilityFunction(selectedUF)" ng-hide="!ufAll[selectedUF].showDeleteOption" class="md-raised md-warn">
                    Confirm delete
                </md-button>
                <md-button aria-label="Discard changes" ng-click="reloadUtilityFunction(selectedUF)" ng-hide ="!ufAll[selectedUF].changed || ufAll[selectedUF].isNew">
                    <md-tooltip>Discard changes</md-tooltip>
                    <i class="fa fa-trash-o fa-lg"></i>
                </md-button>
                <md-button aria-label="Save changes" ng-click="saveChanges(selectedUF)" ng-hide="!ufAll[selectedUF].changed || ufAll[selectedUF].isNew || ufAll[selectedUF].nameWarning">
                    <md-tooltip>Save changes</md-tooltip>
                    <i class="fa fa-floppy-o fa-lg"></i>
                </md-button>
                <md-button aria-label="Save new function" ng-click="saveNewUtilityFunction(selectedUF)" ng-hide="!ufAll[selectedUF].isNew || ufAll[selectedUF].nameWarning">
                    <md-tooltip>Save utility function</md-tooltip>
                    <i class="fa fa-floppy-o fa-lg"></i>
                </md-button>
                <md-button ng-click="cancelUtilityFunctionChanges()"  aria-label="Cancel changes to utility functions">Done</md-button>
            </md-toolbar>
        </div>
    </md-dialog-content>
</md-dialog>
